<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>选项卡</title>

    <link type="text/css" href="../../../dist/theme/dark/site.dark.css" rel="stylesheet" />
    <link type="text/css" href="../../../dist/theme/dark/metro-dark.all.css" rel="stylesheet" />
    <link type="text/css" href="../../../dist/theme/viewpage/viewpage.all.css" rel="stylesheet" />
    <link type="text/css" href="../../content/font-awesome.min.css" rel="stylesheet" />
    
    <style type="text/css">
        .content-panel {
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        .section-container {
            width: 100%;
            height: auto;
        }

        .description-paragraph {
            line-height: 1.5;
            font-size: 1.25em;
            margin: 0;
            padding: 0;
            margin-top: 1em;
        }

        .box-line {
            width: 100%;
            height: 60px;
            margin-top: 10px;
            overflow: hidden;
        }
        
        .tab-box {
            width: 480px;
            height: 300px;
            overflow: hidden;
            position: relative;
        }

        .tab-content {
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            margin-top: -20px;
        }

        .tab-list {
            position: absolute;
            width: 80px;
            height: 100%;
            overflow: hidden;
            left: 0;
            top: 0;
        }

        .tab-list-item {
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-align: center;
        }
    </style>

    <link id="highlight" type="text/css" href="../../../dist/theme/color/ui.metro.SeaBlue.css" rel="stylesheet" />
</head>
<body>
    <header id="head" class="head-color clear">
        <h1 class="head-system-title title-color">
            <span class="head-system-title-text">TAB VIEW</span>
        </h1>
        <ul id="headerCtrls" class="head-ctrl-buttons">
            <li class="head-ctrl-buttons-item">
                <div id="user" class="user-color title-color" title="username">
                    <img src="../../content/images/protrait.png" class="cover" />
                </div>
            </li>
        </ul>
    </header>
    <section id="body">
        
    <div class="content-panel">
        <dl class="ui-fold-view" style="padding:20px;">
            <dt>常规模式</dt>
            <dd class="section-container">
                <p class="description-paragraph">
                    选项卡(<span class="font-highlight">ui.ctrls.TabView</span>)，非常常用的一种布局控件，可以在有限的控件里面放入更多的内容。
                </p>
                <div class="box-line border-highlight" style="height:auto;border:solid 1px #000;width:480px;">
                    <div class="toolbar clear">
                        <ul id="simpleTabButton" class="tools">
                            <li class="tool-item">
                                <a href="javascript:void(0)" class="ui-tab-button">标签1</a>
                            </li>
                            <li class="tool-item">
                                <a href="javascript:void(0)" class="ui-tab-button">标签2</a>
                            </li>
                            <li class="tool-item">
                                <a href="javascript:void(0)" class="ui-tab-button">标签3</a>
                            </li>
                        </ul>
                    </div>
                    <div id="simpleTabBody" class="tab-box">
                        <div class="ui-tab-body">
                            <span class="tab-content">第一个标签的内容</span>
                        </div>
                        <div class="ui-tab-body">
                            <span class="tab-content">第二个标签的内容</span>
                        </div>
                        <div class="ui-tab-body">
                            <span class="tab-content">第三个标签的内容</span>
                        </div>
                    </div>
                </div>
            </dd>
            <dt>纵向模式</dt>
            <dd class="section-container">
                <p class="description-paragraph">
                    TabView可以调整切换的方向，默认是横向的，如果要调整为纵向切换可以设置参数<span class="font-highlight">direction: vertical</span>。
                </p>
                <div class="box-line border-highlight" style="height:auto;border:solid 1px #000;width:480px;height:300px;position:relative;">
                    <div class="tab-list theme-panel">
                        <ul id="verticalTab" style="width:100%;height:100%;overflow:auto;">
                            <li class="tab-list-item">
                                <a href="javascript:void(0)" class="ui-tab-button">标签1</a>
                            </li>
                            <li class="tab-list-item">
                                <a href="javascript:void(0)" class="ui-tab-button">标签2</a>
                            </li>
                            <li class="tab-list-item">
                                <a href="javascript:void(0)" class="ui-tab-button">标签3</a>
                            </li>
                        </ul>
                    </div>
                    <div id="verticalTabBody" class="tab-box" style="width:400px;height:100%;position:absolute;left:80px;">
                        <div class="ui-tab-body">
                            <span class="tab-content">第一个标签的内容</span>
                        </div>
                        <div class="ui-tab-body">
                            <span class="tab-content">第二个标签的内容</span>
                        </div>
                        <div class="ui-tab-body">
                            <span class="tab-content">第三个标签的内容</span>
                        </div>
                    </div>
                </div>
            </dd>
            <dt>视图模式</dt>
            <dd class="section-container">
                <p class="description-paragraph">
                    TabView模式是标签(tab)模式，这种模式下适合大面积的内容切换，特别适合整页切换。在切换形式上特地使用<span class="font-highlight">scrollLeft</span>和<span class="font-highlight">scrollTop</span>完成动画效果，保证切换动画的流畅。<br />
                    通过滚动条在切换时有先天优势，但是在一些弹出层中使用会收到<span class="font-highlight">display:none</span>的影响，导致滚动条的位置自动还原。所以提供视图(view)模式，对于局部弹出层小面积的空间中仍然使用absolute + left/top的定位模式。<br />
                    切换视图的模式可以通过设置参数<span class="font-highlight">type:"view"</span>来完成。
                </p>
                <div class="box-line border-highlight" style="height:auto;border:solid 1px #000;width:480px;">
                    <div class="toolbar clear">
                        <ul class="tools">
                            <li class="tool-item">
                                <div id="filterView" style="margin-top:8px;"></div>
                            </li>
                        </ul>
                    </div>
                    <div id="viewTabBody" class="tab-box">
                        <div class="ui-tab-body">
                            <span class="tab-content">工具内容</span>
                        </div>
                        <div class="ui-tab-body">
                            <span class="tab-content">网络内容</span>
                        </div>
                        <div class="ui-tab-body">
                            <span class="tab-content">游戏内容</span>
                        </div>
                        <div class="ui-tab-body">
                            <span class="tab-content">电影内容</span>
                        </div>
                    </div>
                </div>
            </dd>
            <dt>关于缓存</dt>
            <dd class="section-container">
                <p class="description-paragraph">
                    如果要用TabView做全屏切换功能的话，为了性能更好往往需要做延迟数据加载。也就是说默认只加载用户能看到的数据，其它标签页的数据等到用户首次去点击的时候再加载，加载过后用户再次点击时直接显示不再重复加载。<br />
                    为了应对这样的场景，特地设计了<span class="font-highlight">ui.ctrls.TabView.TabManager</span><br />
                    var tabManager = ui.ctrls.TabView.TabManager(); <br />
                    tabManager.addTools("tab1Tools", "tab2Tools"); <span style="color:#999;">// 自动切换工具条</span><br />
                    tabManager.tabChanged = function() { this.callWithCache(); };<br />
                    然后将tabManager.tabChanging和tabManager.tabChanged作为事件处理函数注册给tabView。
                </p>
                <div class="box-line border-highlight" style="height:auto;border:solid 1px #000;width:480px;">
                    <div class="toolbar clear">
                        <ul id="cacheTabButton" class="tools">
                            <li class="tool-item">
                                <a href="javascript:void(0)" class="ui-tab-button">标签1</a>
                            </li>
                            <li class="tool-item">
                                <a href="javascript:void(0)" class="ui-tab-button">标签2</a>
                            </li>
                        </ul>
                    </div>
                    <div id="cacheTabBody" class="tab-box">
                        <div class="ui-tab-body">
                            <span id="lazyTabBody1" class="tab-content"></span>
                        </div>
                        <div class="ui-tab-body">
                            <span id="lazyTabBody2" class="tab-content"></span>
                        </div>
                    </div>
                </div>
            </dd>
        </dl>
    </div>

    </section>

    <script type="text/javascript" src="../../../jquery.js"></script>
    <script type="text/javascript" src="../../../dist/ui-core.3.0.0.js"></script>
    <script type="text/javascript" src="../../../dist/ui-components.3.0.0.js"></script>
    <script type="text/javascript" src="../../../dist/ui-controls.3.0.0.js"></script>
    <script type="text/javascript" src="../../../dist/ui-viewpages.3.0.0.js"></script>
    <script type="text/javascript" src="../../lib/data/highlights.js"></script>
    <script type="text/javascript">
        ui.theme.currentTheme = "Dark";
        ui.theme.backgroundColor = "#1d1f21";
        ui.master.config("userSettings", {
            changeHighlightUrl: function(highlight) {
                $("#highlight").prop("href", ui.str.format("../../../dist/theme/color/ui.metro.{0}.css", highlight.Id));
                ui.theme.setHighlight(highlight);
            }
        });
        ui.master.init();
    </script>
    
    <script type="text/javascript">
        (function() {
            window.pageLogic = {
                init: {
                    before: function() {
                        createSimpleTab.call(this);
                        createVerticalTab.call(this);
                        createTabView.call(this);
                        createCacheTab.call(this);

                        $(".ui-fold-view").foldView();
                    },
                    layout: function() {
                        ui.master.resize(function(e) {
                            var width = ui.master.contentBodyWidth, 
                                height = ui.master.contentBodyHeight;
                        });
                    },
                    after: function() {

                    },
                    events: function() {

                    },
                    load: function() {
                        
                    }
                }
            };

            function createSimpleTab() {
                this.simpleTab = ui.ctrls.TabView({
                    tabPanel: "simpleTabButton",
                    bodyPanel: "simpleTabBody",
                    duration: 500
                });

                // 如果是全屏tab，这两句代码放到layout里面，这样可以自适应
                this.simpleTab.putBodies(480, 300);
                this.simpleTab.restore();
                // 默认显示第一个tab页，不要动画效果
                this.simpleTab.showIndex(0, false);
            }

            function createVerticalTab() {
                this.verticalTab = ui.ctrls.TabView({
                    tabPanel: "verticalTab",
                    bodyPanel: "verticalTabBody",
                    direction: "vertical",
                    duration: 500
                });

                // 如果是全屏tab，这两句代码放到layout里面，这样可以自适应
                this.verticalTab.putBodies(400, 300);
                this.verticalTab.restore();
                // 默认显示第一个tab页，不要动画效果
                this.verticalTab.showIndex(0, false);
            }

            function createTabView() {
                this.viewTab = ui.ctrls.TabView({
                    type: "view",
                    bodyPanel: "viewTabBody",
                    duration: 500
                });

                // 如果是全屏tab，这两句代码放到layout里面，这样可以自适应
                this.viewTab.putBodies(480, 300);
                this.viewTab.restore();
                // 默认显示第一个tab页，不要动画效果
                this.viewTab.showIndex(0, false);

                this.filterView = $("#filterView").filterTool({
                    viewData: [
                        { text: "工具", value: "tool" },
                        { text: "网络", value: "network" },
                        { text: "游戏", value: "game" },
                        { text: "电影", value: "film" }
                    ]
                });
                this.filterView.selected(function(e, eventData) {
                    pageLogic.viewTab.showIndex(eventData.itemIndex);
                });
                
            }

            function createCacheTab() {
                var tabManager;

                function loadTab1() {
                    setTimeout(function() {
                        $("#lazyTabBody1").html("标签一延迟加载内容");
                    }, 500);
                }

                function loadTab2() {
                    setTimeout(function() {
                        $("#lazyTabBody2").html("标签二延迟加载内容");
                    }, 500);
                }

                this.cacheTab = ui.ctrls.TabView({
                    tabPanel: "cacheTabButton",
                    bodyPanel: "cacheTabBody",
                    duration: 500
                });

                tabManager = ui.ctrls.TabView.TabManager(this.cacheTab, function(e, index) {
                    if(index === 0) {
                        this.callWithCache(index, loadTab1, pageLogic);
                    } else if(index === 1) {
                        this.callWithCache(index, loadTab2, pageLogic);
                    }
                });

                // 如果是全屏tab，这两句代码放到layout里面，这样可以自适应
                this.cacheTab.putBodies(480, 300);
                this.cacheTab.restore();
                // 默认显示第一个tab页，不要动画效果
                this.cacheTab.showIndex(0, false);
            }
            
        })();
    </script>

</body>
</html>
