<partial id="title">日历</partial>
<partial id="header">CALENDAR VIEW</partial>

<partial id="style">
    <style type="text/css">
        .filter-tools-item-text {
            margin-left: 20px;
            margin-right: 20px;
        }

        .toolbar .toolbar-extend .extend-spliter {
            margin-top: 8px;
            height: 104px;
        }

        .toolbar .top-container {
            width: 150px;
            height: 96px;
            line-height: 30px;
        }

            .toolbar .top-container .tool-button {
                line-height: 20px;
                vertical-align: top;
                margin-top: 6px;
            }

        .toolbar .bottom-title {
            width: 100%;
            text-align: center;
            height: 24px;
            line-height: 24px;
            font-size: 12px;
        }

        .schedule-editor {
            position: absolute;
            display: none;
            width: 240px;
            height: auto;
            border-width: 2px;
            border-style: solid;
            z-index: 9999;
            display: none;
        }

            .schedule-editor .schedule-editor-container {
                width: 215px;
                margin-left: auto;
                margin-right: auto;
            }

            .schedule-editor .button-panel {
                margin-top: 12px;
                margin-bottom: 12px;
                width: 100%;
                text-align: right;
            }
    </style>
</partial>

<partial id="content">
    <div id="toolbar" class="toolbar clear">
        <ul class="tools">
            <li class="tool-item">
                <div id="viewFilter" style="margin-top:8px;"></div>
            </li>
            <li class="tool-item">
                <span id="calendarTitle" class="font-highlight" style="font-size:16px;line-height:40px;"></span>
            </li>
        </ul>
        <ul class="tools" style="float:right">
            <li class="tool-item action-buttons">
                <a id="previous" class="tool-action-button" href="javascript:void(0)" title="后退">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <a id="today" class="tool-action-button" href="javascript:void(0)" title="今日">
                    <span>今</span>
                </a>
                <a id="next" class="tool-action-button" href="javascript:void(0)" title="前进">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        </ul>
        <div class="toolbar-extend">
            <ul class="tools">
                <li class="tool-item">
                    <div class="top-container">
                        <button id="yearSchedule" class="tool-button button-highlight" style="width:70px">显示角标</button>
                        <button id="yearRemoveSchedule" class="tool-button" style="width:70px">移除周六</button>
                        <br />
                        <button id="yearSelect" class="tool-button" style="width:70px">选择周末</button>
                        <button id="yearGet" class="tool-button" style="width:70px">获取选项</button>
                        <br />
                        <button id="yearCancel" class="tool-button" style="width:70px">取消选择</button>
                    </div>
                    <div class="bottom-title">
                        <span>年视图</span>
                    </div>
                </li>
                <li class="tool-item">
                    <hr class="extend-spliter" />
                </li>
                <li class="tool-item">
                    <div class="top-container">
                        <button id="monthSchedule" class="tool-button button-highlight" style="width:70px">显示日程</button>
                        <button id="monthRemoveSchedule" class="tool-button" style="width:70px">移除日程</button>
                        <br />
                        <button id="monthSelect" class="tool-button" style="width:70px">选择周末</button>
                        <button id="monthGet" class="tool-button" style="width:70px">获取选项</button>
                        <br />
                        <button id="monthCancel" class="tool-button" style="width:70px">取消选择</button>
                    </div>
                    <div class="bottom-title">
                        <span>月视图</span>
                    </div>
                </li>
                <li class="tool-item">
                    <hr class="extend-spliter" />
                </li>
                <li class="tool-item">
                    <div class="top-container">
                        <button id="weekSchedule" class="tool-button button-highlight" style="width:70px">显示日程</button>
                    </div>
                    <div class="bottom-title">
                        <span>周视图</span>
                    </div>
                </li>
                <li class="tool-item">
                    <hr class="extend-spliter" />
                </li>
                <li class="tool-item">
                    <div class="top-container"></div>
                    <div class="bottom-title">
                        <span>日视图</span>
                    </div>
                </li>
                <li class="tool-item">
                    <hr class="extend-spliter" />
                </li>
            </ul>
        </div>
    </div>
    <div id="calendarView"></div>
    <div id="weekCtrlPanel" class="schedule-editor unselectable border-highlight theme-panel">
        <div class="schedule-editor-container">
            <label style="line-height:30px">日程描述</label>
            <br />
            <textarea id="weekScheduleDetail" name="weekScheduleDetail" rows="0" cols="0" style="width:211px;height:192px"></textarea>
            <div class="button-panel">
                <input id="weekScheduleOk" type="button" class="button background-highlight" value="保存" />
                <input id="weekScheduleCancel" type="button" class="button" value="取消" />
            </div>
        </div>
    </div>
    <div id="dayCtrlPanel" class="schedule-editor cunselectable border-highlight theme-panel">
        <div class="schedule-editor-container">
            <label style="line-height:30px">日程描述</label>
            <br />
            <textarea id="dayScheduleDetail" name="dayScheduleDetail" rows="0" cols="0" style="width:211px;height:192px"></textarea>
            <div class="button-panel">
                <input id="dayScheduleOk" type="button" class="button background-highlight" value="保存" />
                <input id="dayScheduleCancel" type="button" class="button" value="取消" />
            </div>
        </div>
    </div>
</partial>

<partial id="script">
    <script type="text/javascript">
        (function() {
            window.pageLogic = {
                init: {
                    before: function() {
                        this.toolbar = ui.master.createToolbar("toolbar");
                        
                        initializeCalendarView.call(this);
                    },
                    layout: function() {
                        // 注册resize事件
                        ui.master.resize(function(e) {
                            var width, 
                                height,
                                calendarViewHeight;
                            
                            // 有master自动计算的内容区域的宽度和高度
                            width = ui.master.contentBodyWidth;
                            height = ui.master.contentBodyHeight;

                            calendarViewHeight = height - pageLogic.toolbar.height;
                            pageLogic.calendarView.setSize(width, calendarViewHeight);
                        });
                    },
                    after: function() {
                        // 创建过滤器对象
                        this.viewFilter = $("#viewFilter").filterTool({
                            viewData: [
                                { text: "年", value: "YearView", selected: true },
                                { text: "月", value: "MonthView" },
                                { text: "周", value: "WeekView" },
                                { text: "日", value: "DayView" }
                            ]
                        });
                        this.viewFilter.selected(function(e, eventData) {
                            pageLogic.calendarView.changeView(eventData.itemData.value);
                        });
                        $("#calendarTitle").text(pageLogic.calendarView.getTitle());
                    },
                    events: function() {
                        // 视图内容切换
                        $("#previous").click(function(e) {
                            pageLogic.calendarView.previous();
                        });
                        $("#today").click(function(e) {
                            pageLogic.calendarView.today();
                        });
                        $("#next").click(function(e) {
                            pageLogic.calendarView.next();
                        });
                        
                        bindYearEvents();
                        bindMonthEvents();
                        bindWeekEvents();
                        bindDayEvents();
                    },
                    load: function() {

                    }
                }
            };

            // 初始化CalendarView视图
            function initializeCalendarView() {
                // 创建日历视图
                this.calendarView = $("#calendarView").calendarView({
                    // 默认显示年视图
                    defaultView: "YearView",
                    // 星期天是一个周的第一天
                    sundayFirst: true,
                    // 年视图可以多选
                    yearMultipleSelect: true,
                    // 月视图可以多选
                    monthMultipleSelect: true,
                    // 周视图有Schedule的地方就不能选择了
                    weekSingleSelect: true,
                    // 日视图有Schedule的地方就不能选择了
                    daySingleSelect: true

                });
                // 视图切换事件
                this.calendarView.viewChanged(function(e, view) {
                    $("#calendarTitle").text(view.getTitle());
                    if (this.isView(view, "WeekView")) {
                        if (!view.weekCtrlPanel) {
                            view.weekCtrlPanel = $("#weekCtrlPanel");
                            view.hourPanel.append(view.weekCtrlPanel);
                        }
                    } else if(this.isView(view, "DayView")) {
                        if(!view.dayCtrlPanel) {
                            view.dayCtrlPanel = $("#dayCtrlPanel");
                            view.hourPanel.append(view.dayCtrlPanel);
                        }
                    }
                });
                // 视图内容变化事件
                this.calendarView.changed(function(e, view) {
                    $("#calendarTitle").text(view.getTitle());
                    if(this.isView(view, "YearView")) {
                        if(pageLogic.yearSchedule) {
                            loadYearSchedule(view);
                        }
                    } else if(this.isView(view, "MonthView")) {
                        if(pageLogic.monthSchedule) {
                            loadMonthSchedule(view);
                        }
                    } else if(this.isView(view, "WeekView")) {
                        if(pageLogic.weekSchedule) {
                            loadWeekSchedule(view);
                        }
                    } else if (this.isView(view, "DayView")) {
                        if(pageLogic.daySchedule) {
                            loadDaySchedule(view);
                        }
                    }
                });
                // 视图选择前事件
                this.calendarView.selecting(function(e, eventData) {
                    var view = eventData.view;
                    if(this.isView(view, "WeekView")) {
                        hideWeekCtrlPanel(view);
                    } else if(this.isView(view, "DayView")) {
                        hideDayCtrlPanel(view);
                    }
                });
                // 视图选择事件
                this.calendarView.selected(function(e, eventData) {
                    var view = eventData.view;
                    if (this.isView(view, "YearView")) {
                        ui.messageShow(view.toString());
                    } else if (this.isView(view, "MonthView")) {
                        ui.messageShow(view.toString());
                    } else if (this.isView(view, "WeekView")) {
                        showWeekCtrlPanel(eventData.view, eventData.element, {
                            top: eventData.top,
                            left: eventData.left,
                            parentWidth: eventData.parentWidth,
                            parentHeight: eventData.parentHeight
                        });
                    } else if (this.isView(view, "DayView")) {
                        showDayCtrlPanel(eventData.view, eventData.element, {
                            top: eventData.top,
                            left: eventData.left,
                            parentWidth: eventData.parentWidth,
                            parentHeight: eventData.parentHeight
                        });
                    }
                });
                // 取消选择事件
                this.calendarView.deselected(function(e, eventData) {
                    var view = eventData.view;
                    if (this.isView(view, "WeekView")) {
                        hideWeekCtrlPanel(view);
                    } else if (this.isView(view, "DayView")) {
                        hideDayCtrlPanel(view);
                    }
                });
                this.calendarView.weekTitleClick(function (e, eventData) {
                    var view = eventData.view,
                        that = this,
                        selectorInfo;
                    if (view.hasSchedule(eventData.index)) {
                        ui.messageShow("已经设置日程信息，不能选择全天！");
                        return;
                    }
                    view.selector.setSelectionByTime(eventData.index, "08:00:00", "18:00:00");
                    setTimeout(function() {
                        selectorInfo = view.selector.getSelectorInfo();
                        if (that.isView(view, "WeekView")) {
                            showWeekCtrlPanel(view, selectorInfo.element, {
                                top: selectorInfo.top,
                                left: selectorInfo.left,
                                parentWidth: selectorInfo.parentWidth,
                                parentHeight: selectorInfo.parentHeight
                            });
                        } else if (that.isView(view, "DayView")) {
                            showDayCtrlPanel(view, selectorInfo.element, {
                                top: selectorInfo.top,
                                left: selectorInfo.left,
                                parentWidth: selectorInfo.parentWidth,
                                parentHeight: selectorInfo.parentHeight
                            });
                        }
                    }, 240);
                });
            }

            // 年视图相关方法
            function bindYearEvents() {
                var getViewFn = function() {
                    var view = pageLogic.calendarView.currentView;
                    if(!pageLogic.calendarView.isView(view, "YearView")) {
                        ui.messageShow("请先切换到年视图");
                        return;
                    }
                    return view;
                };
                $("#yearSchedule").click(function(e) {
                    var elem = $(e.target),
                        view = getViewFn();
                    if(view) {
                        if(!elem.hasClass("background-highlight")) {
                            elem.addClass("background-highlight");
                            pageLogic.yearSchedule = true;
                            loadYearSchedule(view);
                        } else {
                            elem.removeClass("background-highlight");
                            pageLogic.yearSchedule = true;
                            view.clearSchedules();
                        }
                    }
                });
                $("#yearRemoveSchedule").click(function(e) {
                    var view = getViewFn(),
                        selectionData;
                    if(view && pageLogic.yearSchedule) {
                        removeSaturdaySchedule(view);
                    }
                });
                $("#yearSelect").click(function(e) {
                    var view = getViewFn();
                    if(view) {
                        selectWeekendOfYear(view);
                    }
                });
                $("#yearGet").click(function(e) {
                    var view = getViewFn(),
                        selectionData;
                    if(view) {
                        selectionData = getSelectionWeekendOfYear(view);
                        if(selectionData.length > 0) {
                            alert(selectionData);
                        } else {
                            ui.messageShow("没有选择的日期");
                        }
                    }
                });
                $("#yearCancel").click(function(e) {
                    var view = getViewFn();
                    if(view) {
                        view.cancelSelection();
                    }
                });
            }
            function loadYearSchedule(view) {
                var data = [],
                    year = view.year,
                    i, j, d;
                for(var i = 0; i < 12; i++) {
                    d = new Date(year, i + 1, 0);
                    for(j = 1; j < d.getDate(); j++) {
                        if(ui.random.getNum(1, 10) > 5) {
                            continue;
                        }
                        data.push(new Date(year, i, j));
                    }
                }

                view.addSchedules(data, "date", function(item) {
                    this.prop("title", ui.str.dateFormat(item, "yyyy-MM-dd"));
                });
            }
            function removeSaturdaySchedule(view) {
                var year = view.year,
                    date = new Date(year, 0, 1),
                    data = [];
                date.setDate(date.getDate() + 6 - date.getDay());
                while(date.getFullYear() === year) {
                    data.push(new Date(date.getTime()));
                    date.setDate(date.getDate() + 7);
                }
                view.removeSchedules(data, "date", function(item) {
                    this.removeAttr("title");
                });
            }
            function selectWeekendOfYear(view) {
                var year = view.year,
                    date = new Date(year, 0, 1),
                    data = [];
                date.setDate(date.getDate() + 6 - date.getDay());
                while(date.getFullYear() === year) {
                    data.push(new Date(date.getTime()));
                    if(date.getMonth() != 11 && date.getDate() != 31) {
                        data.push(new Date(date.getFullYear(), date.getMonth(), date.getDate() + 1));
                    }

                    date.setDate(date.getDate() + 7);
                }
                view.setSelection(data);
            }
            function getSelectionWeekendOfYear(view) {
                var data = view.getSelection(),
                    i, len;
                for(i = 0, len = data.length; i < len; i++) {
                    data[i] = ui.str.dateFormat(data[i], "yyyy-MM-dd");
                }
                return data;
            }
            

            // 月视图相关方法
            function bindMonthEvents() {
                var getViewFn = function() {
                    var view = pageLogic.calendarView.currentView;
                    if(!pageLogic.calendarView.isView(view, "MonthView")) {
                        ui.messageShow("请先切换到月视图");
                        return;
                    }
                    return view;
                };
                $("#monthSchedule").click(function(e) {
                    var elem = $(e.target),
                        view = getViewFn();
                    if(view) {
                        if(!elem.hasClass("background-highlight")) {
                            elem.addClass("background-highlight");
                            pageLogic.monthSchedule = true;
                            loadMonthSchedule(view);
                        } else {
                            elem.removeClass("background-highlight");
                            pageLogic.monthSchedule = true;
                            view.clearSchedules();
                        }
                    }
                });
                $("#monthRemoveSchedule").click(function(e) {
                    var view = getViewFn(),
                        selectionData;
                    if(view) {
                        removeMonthSchedule(view);
                    }
                });
                $("#monthSelect").click(function(e) {
                    var view = getViewFn();
                    if(view) {
                        selectWeekendOfMonth(view);
                    }
                });
                $("#monthGet").click(function(e) {
                    var view = getViewFn(),
                        selectionData;
                    if(view) {
                        selectionData = getSelectionWeekendOfMonth(view);
                        if(selectionData.length > 0) {
                            alert(selectionData);
                        } else {
                            ui.messageShow("没有选择的日期");
                        }
                    }
                });
                $("#monthCancel").click(function(e) {
                    var view = getViewFn();
                    if(view) {
                        view.cancelSelection();
                    }
                });
            }
            function loadMonthSchedule(view) {
                var count = ui.random.getNum(20, 100),
                    data = [],
                    today = new Date(),
                    baseColor = ui.theme.backgroundColor || "#FFFFFF",
                    textArray = ["会议", "看电影", "晚餐", "学习插花", "锻炼身体", "Coding", "玩游戏", "干家务"];
                
                for(var i = 0; i < count; i++) {
                    data[i] = {
                        date: new Date(
                            today.getFullYear(), 
                            today.getMonth(), 
                            ui.random.getNum(1, 28), 
                            ui.random.getNum(0, 24), 
                            ui.random.getNum(0, 60), 
                            0),
                        text: "",
                        borderColor: ui.theme.highlights[ui.random.getNum(0, ui.theme.highlights.length)].Color,
                        backgroundColor: null
                    };
                    data[i].backgroundColor = ui.color.overlay(data[i].borderColor, baseColor, .7);
                    data[i].backgroundColor = ui.color.rgb2hex(
                            data[i].backgroundColor.red, 
                            data[i].backgroundColor.green, 
                            data[i].backgroundColor.blue);
                    data[i].text = ui.str.dateFormat(data[i].date, "HH:mm") 
                        + " " 
                        + textArray[ui.random.getNum(0, textArray.length)];
                }
                pageLogic.currentMonthSchedules = data;
                view.addSchedules(data, "date");
            }
            function removeMonthSchedule(view) {
                var data = pageLogic.currentMonthSchedules,
                    i, len,
                    result = [],
                    count = ui.random.getNum(1, Math.floor(data.length / 3));
                if(Array.isArray(data)) {
                    for(i = 0, len = count; i < len; i++) {
                        result.push(data[ui.random.getNum(0, data.length)]);
                    }
                    view.removeSchedules(data);
                }
            }
            function selectWeekendOfMonth(view) {
                var year = view.year,
                    month = view.month,
                    date = new Date(year, month, 1),
                    data = [];
                date.setDate(date.getDate() + 6 - date.getDay());
                while(date.getFullYear() == year && date.getMonth() == month) {
                    data.push(new Date(date.getTime()));
                    if(date.getMonth() != 11 && date.getDate() != 31) {
                        data.push(new Date(date.getFullYear(), date.getMonth(), date.getDate() + 1));
                    }

                    date.setDate(date.getDate() + 7);
                }
                view.setSelection(data);
            }
            function getSelectionWeekendOfMonth(view) {
                var data = view.getSelection(),
                    i, len;
                for(i = 0, len = data.length; i < len; i++) {
                    data[i] = ui.str.dateFormat(data[i], "yyyy-MM-dd");
                }
                return data;
            }

            // 周视图相关方法
            function bindWeekEvents() {
                var getViewFn = function() {
                    var view = pageLogic.calendarView.currentView;
                    if(!pageLogic.calendarView.isView(view, "WeekView")) {
                        ui.messageShow("请先切换到周视图");
                        return;
                    }
                    return view;
                };
                $("#weekSchedule").click(function(e) {
                    var elem = $(e.target),
                        view = getViewFn();
                    if(view) {
                        if(!elem.hasClass("background-highlight")) {
                            elem.addClass("background-highlight");
                            pageLogic.weekSchedule = true;
                            loadWeekSchedule(view);
                        } else {
                            elem.removeClass("background-highlight");
                            pageLogic.weekSchedule = true;
                            view.clearSchedules();
                        }
                    }
                });
                $("#weekScheduleOk").click(function (e) {
                    addWeekDaySchedule();
                });
                $("#weekScheduleCancel").click(function (e) {
                    var view = pageLogic.calendarView.currentView;
                    view.selector.cancelSelection();
                });
            }
            function loadWeekSchedule(view) {
                var count = ui.random.getNum(0, view.weekDays.length),
                    i, len,
                    date, temp,
                    index,
                    data;
                temp = [];
                for(i = 0, len = view.weekDays.length; i < len; i++) {
                    temp.push(view.weekDays[i]);
                }
                data = [];
                for(i = 0, len = count; i < len; i++) {
                    index = ui.random.getNum(0, temp.length);
                    date = temp[index];
                    temp.splice(index, 1);
                    data.push({
                        "BeginTime": new Date(
                                date.getFullYear(), 
                                date.getMonth(), 
                                date.getDate(), 
                                ui.random.getNum(0, 12),
                                ui.random.getNum(0, 2) ? 30 : 0, 
                                0),
                        "EndTime": new Date(
                                date.getFullYear(), 
                                date.getMonth(), 
                                date.getDate(), 
                                ui.random.getNum(12, 24),
                                ui.random.getNum(0, 2) ? 30 : 0, 
                                0),
                        "Text": "用大炮打蚊子"
                    });
                }
                view.addSchedules(data, "BeginTime", "EndTime", function(item, container) {
                    container.html("<p class='schedule-content-text'>" + item.data.Text + "</p>");
                });
            }
            function showWeekCtrlPanel(view, box, boxPosition) {
                var boxWidth,
                    wcpWidth, wcpHeight,
                    top, left;

                boxWidth = box.outerWidth();
                wcpWidth = view.weekCtrlPanel.outerWidth();
                wcpHeight = view.weekCtrlPanel.outerHeight();
                top = boxPosition.top;
                left = boxPosition.left + boxWidth;

                if (top + wcpHeight > boxPosition.parentHeight) {
                    top = boxPosition.parentHeight - wcpHeight + 1;
                }
                if (left + wcpWidth > boxPosition.parentWidth) {
                    left = boxPosition.left - wcpWidth;
                }
                view.weekCtrlPanel.css({
                    "display": "block",
                    "left": left + "px",
                    "top": top + "px"
                });
            }
            function hideWeekCtrlPanel(view) {
                if(view.weekCtrlPanel) {
                    $("#weekScheduleDetail").val("");
                    view.weekCtrlPanel.css("display", "none");
                }
            }
            function addWeekDaySchedule() {
                var data = [],
                    view,
                    text,
                    selectionDates,
                    weekday;
                text = $("#weekScheduleDetail").val();
                if(text.length === 0) {
                    ui.messageShow("日程内容不能为空");
                    return;
                }

                view = pageLogic.calendarView.currentView;
                selectionDates = view.getSelection();
                if(selectionDates.length === 0) {
                    return;
                }
                
                data.push({
                    BeginTime: selectionDates[0],
                    EndTime: selectionDates[selectionDates.length - 1],
                    Text: text
                });
                view.addSchedules(data, "BeginTime", "EndTime", function(item, container) {
                    container.html("<p class='schedule-content-text'>" + item.data.Text + "</p>");
                });
                view.cancelSelection();
            }

            // 日视图相关方法
            function bindDayEvents() {
                $("#dayScheduleOk").click(function (e) {
                    addDayDaySchedule();
                });
                $("#dayScheduleCancel").click(function (e) {
                    var view = pageLogic.calendarView.currentView;
                    view.selector.cancelSelection();
                });
            }
            function showDayCtrlPanel(view, box, boxPosition) {
                var boxWidth,
                    wcpWidth, wcpHeight,
                    top, left;

                boxWidth = box.outerWidth();
                wcpWidth = view.dayCtrlPanel.outerWidth();
                wcpHeight = view.dayCtrlPanel.outerHeight();
                top = boxPosition.top;
                left = boxPosition.left + ((boxWidth - wcpWidth) / 2);

                view.dayCtrlPanel.css({
                    "display": "block",
                    "left": left + "px",
                    "top": top + "px"
                });
            }
            function hideDayCtrlPanel(view) {
                if(view.dayCtrlPanel) {
                    $("#dayScheduleDetail").val("");
                    view.dayCtrlPanel.css("display", "none");
                }
            }
            function addDayDaySchedule() {
                var data = [],
                    view,
                    text,
                    selectionDates,
                    weekday;
                text = $("#dayScheduleDetail").val();
                if(text.length === 0) {
                    ui.messageShow("日程内容不能为空");
                    return;
                }

                view = pageLogic.calendarView.currentView;
                selectionDates = view.getSelection();
                if(selectionDates.length === 0) {
                    return;
                }
                
                data.push({
                    BeginTime: selectionDates[0],
                    EndTime: selectionDates[selectionDates.length - 1],
                    Text: text
                });
                view.addSchedules(data, "BeginTime", "EndTime", function(item, container) {
                    container.html("<p class='schedule-content-text'>" + item.data.Text + "</p>");
                });
                view.cancelSelection();
            }
        })();
    </script>
</partial>
