@{layout:demo/views/shared/menu-layout.html}
<partial id="title">视图</partial>
<partial id="header">CARD VIEW</partial>

<partial id="content">
    <div class="toolbar"></div>
    <div id="cardView"></div>
</partial>

<partial id="style">
    <style type="text/css">
        .album {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    </style>
</partial>

<partial id="script">
    <script type="text/javascript" src="../../lib/menu/card-view-menus.js"></script>
    <script type="text/javascript" src="../../lib/data/jay-album.js"></script>
    <script type="text/javascript">
        (function() {
            window.pageLogic = {
                init: {
                    before: function() {
                        createCardView.call(this);
                    },
                    layout: function() {
                        ui.master.resize(function(e) {
                            var width = ui.master.contentBodyWidth, 
                                height = ui.master.contentBodyHeight;
                            pageLogic.cardView.setSize(height - 40);
                        });
                    },
                    after: function() {

                    },
                    events: function() {

                    },
                    load: function() {
                        loadCardViewData();
                    }
                }
            };

            function createCardView() {
                this.cardView = $("#cardView").cardView({
                    itemWidth: 160,
                    itemHeight: 160,
                    renderItemFormatter: renderItem,
                    pager: false,
                    selection: {
                        multiple: true
                    }
                });
                this.cardView.selecting(function(e, eventData) {
                    //return false;
                });
                this.cardView.selected(function(e, eventData) {

                });
                this.cardView.deselected(function(e, eventData) {

                });
                this.cardView.cancel(function(e) {

                });
            }
            
            function renderItem(itemData, index) {
                var img = $("<img />");
                img.setImage(
                    itemData.picture,
                    this.option.itemWidth,
                    this.option.itemHeight,
                    ui.ImageLoader.centerCrop
                ).then(
                    function() {
                        
                    }, 
                    function() {
                        ui.messageShow("专辑图片加载失败");
                    }
                );
                return img;
            }

            function loadCardViewData() {
                var data = [],
                    key = {};
                jaySongs.forEach(function(item) {
                    if(!key.hasOwnProperty(item.album)) {
                        key[item.album] = true;
                        data.push({
                            picture: "../../lib/data/jay-album-cover/" + item.album + ".jpg"
                        });
                    }
                });
                pageLogic.cardView.fill(data, 100);
            }
        })();
    </script>
</partial>
