<partial id="title">GRID VIEW</partial>

<partial id="content">
    <div class="toolbar"></div>
    <div id="gridview"></div>
</partial>

<partial id="style"></partial>

<partial id="script">
    <script type="text/javascript">
        (function() {
            window.pageLogic = {
                init: {
                    before: function() {
                        alert("yes");
                    },
                    layout: function() {

                    },
                    after: function() {

                    },
                    events: function() {

                    },
                    load: function() {

                    }
                }
            };
        })();
    </script>
</partial>
