@{layout:demo/views/shared/menu-layout.html}

<partial id="title">树形表格</partial>
<partial id="header">GRID TREE</partial>

<partial id="content">
    <div class="toolbar"></div>
    <div id="gridview"></div>
</partial>

<partial id="style"></partial>

<partial id="script">
    <script type="text/javascript" src="../../lib/menu/grid-view-menus.js"></script>
    <script type="text/javascript">
        (function() {
            var pageLogic = ui.page;
            pageLogic.init({
                created: function() {
                    createGridTree.call(this);
                },
                layout: function() {
                    this.gridview.setSize(this.contentBodyHeight - 40);
                },
                load: function() {
                    loadGridTreeData();
                }
            });

            function createGridTree() {
                var gridTree = new ui.ctrls.GridViewTree();
                gridTree.isTreeNode = function (item) {
                    return item.ChildrenCount > 0;
                };
                gridTree.lazy = true;
                gridTree.loadChildrenHandler = function (rowData, rowIndex) {
                    loadSubprojects(rowData, rowIndex);
                };
                this.gridview = $("#gridview").gridView({
                    columns: [
                        { text: "#", align: "right", len: 40, formatter: ui.ColumnStyle.cfn.rowNumber },
                        { text: ui.ColumnStyle.cnfn.checkAll, align: "center", len: 40, formatter: ui.ColumnStyle.cfn.check },
                        { column: "ProjectName", text: "项目名称", len: 480, formatter: gridTree.treeNode },
                        { column: "ProjectTypeName", text: "项目类型", len: 160 },
                        { column: "PMName", text: "项目经理", len: 120 },
                        { column: "BeginTime", text: "开始时间", len: 100, align: "center", formatter: ui.ColumnStyle.cfn.date },
                        { column: "EndTime", text: "结束时间", len: 100, align: "center", formatter: ui.ColumnStyle.cfn.date },
                        { column: "StatusName", text: "项目状态", len: 80, align: "center" },
                        { column: "Description", text: "项目描述", len: 360, formatter: ui.ColumnStyle.cfn.paragraph },
                        { formatter: ui.ColumnStyle.empty }
                    ],
                    pager: false,
                    selection: {
                        type: "row",
                        multiple: false,
                        isRelateCheckbox: false
                    }
                });
                gridTree.setGridView(this.gridview);
                this.gridview.selecting(function(e, eventData) {
                    var btn;
                    if (this.tree.isTreeNode(eventData.rowData)) {
                        this.cancelSelection();
                        btn = $(eventData.element[0].cells[2]).children("i");
                        btn.click();
                        //this.tree.onFoldButtonClickHandler(btn, eventData.rowData, eventData.rowIndex);
                        return false;
                    }
                });
                this.gridview.selected(function(e, eventData) {

                });
                this.gridview.deselected(function(e, eventData) {

                });
                this.gridview.cancel(function(e) {

                });
            }

            function loadGridTreeData() {
                var i= 0,
                    len = 10;
                var dataList = [];
                for(; i < len; i++) {
                    dataList.push(createProjectItem());
                }
                pageLogic.gridview.createBody(dataList);
            }

            function loadSubprojects(project, rowIndex) {
                var i = 0;
                    len = ui.random.getNum(1, 10);
                var success = [];
                for(; i < project.ChildrenCount; i++) {
                    success.push(createProjectItem(project.ProjectID));
                }
                pageLogic.gridview.tree.addChildren(project, rowIndex, success);
            }

            function createProjectItem(parentID) {
                var projectTypes = ["商业", "内部生产力提升", "学习", "技术研究", "基础工具", "科技前沿技术研究", "文艺活动"],
                    Status = ["立项", "进行中", "验收", "完成", "维护"],
                    pmList = ["美国队长", "钢铁侠", "奇异博士", "黑寡妇", "灭霸", "雷神"],
                    projectItem = {
                        ProjectID: ui.random.uuid(),
                        ProjectTypeName: projectTypes[ui.random.getNum(0, projectTypes.length)],
                        PMName: pmList[ui.random.getNum(0, pmList.length)],
                        BeginTime: new Date(),
                        EndTime: new Date(),
                        ChildrenCount: ui.random.getNum(0, 2) ? ui.random.getNum(1, 11) : 0,
                        StatusName: Status[ui.random.getNum(0, Status.length)]
                    };
                projectItem.ProjectName = ui.str.format("{0}项目", projectItem.ProjectTypeName);
                projectItem.Description = projectItem.ProjectName + "的项目描述";
                if(parentID) {
                    projectItem.ParentID = parentID;
                }
                return projectItem;
            }

            // 构建具有逻辑上层级关系的列表数据
            function getListData(dataList, parentID, level) {
                var i, len, item;
                if (!level) {
                    level = 0;
                    len = 10;
                } else {
                    if (level > 2) { // 最多构建3个层级
                        return;
                    }
                    len = ui.random.getNum(1, 10);
                }
                for (i = 0; i < len; i++) {
                    item = {
                        DeptID: (i + 1) + "",
                        DeptTypeName: level === 0 ? "机构" : "部门",
                        Level:  level + "级",
                        isOrganization: level === 0
                    };
                    if(item.isOrganization) {
                        item.DeptName = companyNames[i];
                    } else {
                        item.DeptName = departNames[i];
                        if(level > 1) {
                            item.DeptName = (level + 1) + "级" + item.DeptName;
                        }
                    }
                    if(parentID) {
                        item.DeptID = parentID + ":" + item.DeptID;
                        item.ParentID = parentID;
                    }
                    if (ui.random.getNum(0, 2)) {
                        arguments.callee.call(arguments.callee.caller, dataList, item.DeptID, level + 1);
                    }
                    dataList.push(item);
                }
            }
        })();
    </script>
</partial>
