@{layout:demo/views/shared/menu-layout.html}

<partial id="title">树形表格</partial>
<partial id="header">GRID TREE</partial>

<partial id="content">
    <div class="toolbar"></div>
    <div id="gridview"></div>
</partial>

<partial id="style"></partial>

<partial id="script">
    <script type="text/javascript">
        (function() {
            window.pageLogic = {
                init: {
                    before: function() {
                        createGridGroup.call(this);
                    },
                    layout: function() {
                        ui.master.resize(function(e) {
                            var width = ui.master.contentBodyWidth, 
                                height = ui.master.contentBodyHeight;
                            pageLogic.gridview.setSize(height - 40);
                        });
                    },
                    after: function() {

                    },
                    events: function() {

                    },
                    load: function() {
                        loadGridGroupData();
                    }
                }
            };

            function createGridGroup() {
                var gridGroup = new ui.ctrls.GridViewGroup();
                gridGroup.groupItemFormatter = function(group, colunm, index, td) {
                    var div = $("<div style='width:100%;height:60px;overflow:hidden;text-align:left;position:relative;' />");
                    
                    var imgPanel = $("<div style='width:48px;height:48px;margin-top:6px;margin-left:6px;margin-right:6px;display:inline-block;vertical-align:top;'/>");
                    div.append(imgPanel);
                    var img = $("<img />");
                    img.setImage(group.cover, 48, 48);
                    imgPanel.append(img);
                    
                    div.append("<span style='font-size:18px;line-height:60px;'>" + group.name + "</span>");
                    
                    div.append("<span style='position:absolute;top:0px;right:10px;font-size:14px;line-height:60px;'>" + group.year + "</span>");
                    
                    return div;
                };
                this.gridview = $("#gridview").gridView({
                    columns: [
                        { text: "#", align: "right", len: 40, formatter: gridGroup.rowNumber },
                        { column: "name", text: "标题", len: 240 },
                        { column: "artist", text: "艺术家", len: 160 },
                        { column: "star", text: "等级", len: 120 },
                        { column: "time", text: "时间", len: 100 },
                        { formatter: ui.ColumnStyle.empty }
                    ],
                    pager: false,
                    selection: {
                        type: "row",
                        multiple: false,
                        isRelateCheckbox: false
                    }
                });
                gridGroup.setGridView(this.gridview);
                this.gridview.selecting(function(e, eventData) {
                });
                this.gridview.selected(function(e, eventData) {
                    ui.messageShow("开始播放");
                });
                this.gridview.deselected(function(e, eventData) {

                });
                this.gridview.cancel(function(e) {

                });
            }

            function loadGridGroupData() {
                var groupList = pageLogic.gridview.group.listGroup(jaySongs, "album", function(groupKey) {
                    return {
                        name: this.album,
                        year: this.year,
                        cover: "../lib/data/jay-album-cover/" + this.album + ".jpg",
                        genre: "pop"
                    };
                });
                pageLogic.gridview.createGridBody(groupList);
            }
        })();
    </script>
</partial>
