@{layout:demo/views/shared/menu-layout.html}

<partial id="title">列表视图</partial>
<partial id="header">LIST VIEW</partial>

<partial id="content">
    <div id="toolbar" class="toolbar">
        <ul class="tools" style="float:right">
            <li class="tool-item action-buttons">
                <a id="addItem" class="tool-action-button" href="javascript:void(0)" title="添加">
                    <i class="fa fa-plus-circle"></i>
                </a>
                <a id="removeItem" class="tool-action-button" href="javascript:void(0)" title="删除">
                    <i class="fa fa-times-circle"></i>
                </a>
                <a id="insertItem" class="tool-action-button" href="javascript:void(0)" title="插入">
                    <i class="fa fa-caret-circle-right"></i>
                </a>
                <a id="up" class="tool-action-button" href="javascript:void(0)" title="上移">
                    <i class="fa fa-arrow-circle-up"></i>
                </a>
                <a id="down" class="tool-action-button" href="javascript:void(0)" title="下移">
                    <i class="fa fa-arrow-circle-down"></i>
                </a>
                <a id="jump" class="tool-action-button" href="javascript:void(0)" title="移动 ">
                    <i class="fa  fa-hand-point-right"></i>
                </a>
            </li>
        </ul>
    </div>
    <div id="listView" class="theme-panel border-highlight"></div>
</partial>

<partial id="style">
    <style type="text/css">
        #listView {
            width: 300px;
            margin: 20px auto;
            border: solid 1px #fff;
        }
    </style>
</partial>

<partial id="script">
    <script type="text/javascript" src="../../lib/menu/list-view-menus.js"></script>
    <script type="text/javascript">
        (function() {
            var pageLogic = ui.page;
            pageLogic.init({
                toolbar: "toolbar",
                created: function() {
                    createListView.call(this);
                    $("#addItem").on("click", function(e) {
                        var viewData = pageLogic.listView.getViewData();
                        if(viewData.indexOf("CEO") === -1) {
                            pageLogic.listView.add("CEO");
                        } else {
                            ui.messageShow("已经添加了名为CEO的项目");
                        }
                    });
                    $("#removeItem").on("click", function(e) {
                        pageLogic.listView.remove("CEO");
                    });
                    $("#insertItem").on("click", function(e) {
                        var viewData = pageLogic.listView.getViewData();
                        if(viewData.indexOf("CTO") === -1) {
                            pageLogic.listView.insert("CTO", 1);
                        } else {
                            ui.messageShow("已经插入了名为CTO的项目");
                        }
                    });
                    $("#up").on("click", function(e) {
                        pageLogic.listView.currentUp();
                    });
                    $("#down").on("click", function(e) {
                        pageLogic.listView.currentDown();
                        //pageLogic.listView.sort();
                    });
                    $("#jump").on("click", function(e) {
                        var viewData = pageLogic.listView.getViewData();
                        if(viewData.length > 2) {
                            pageLogic.listView.moveTo(0, ui.random.getNum(1, viewData.length));
                        }
                    });
                },
                layout: function() {
                    $("#listView").css("height", this.contentBodyHeight - 82 + "px");
                }
            });

            function createListView() {
                this.listView = $("#listView").listView({
                    hasRemoveButton: true,
                    animatable: true,
                    viewData: [
                        "前端工程师",
                        "Java研发工程师",
                        ".Net研发工程师",
                        "数据库管理员",
                        "运维工程师",
                        "技术经理",
                        "架构师",
                        "项目经理",
                        "产品经理",
                        "视觉设计师",
                        "交互设计师",
                        "部门经理"
                    ]
                });
            }
        })();
    </script>
</partial>
