@{layout:demo/views/shared/menu-layout.html}

<partial id="title">数据表格</partial>
<partial id="header">REPORT</partial>

<partial id="content">
    <div class="toolbar"></div>
    <div id="reportView"></div>
</partial>

<partial id="style"></partial>

<partial id="script">
    <script type="text/javascript" src="../../lib/menu/report-view-menus.js"></script>
    <script type="text/javascript">
        (function() {
            var pageLogic = ui.page;
            pageLogic.init({
                created: function() {
                    createReportView.call(this);
                },
                layout: function() {
                    this.reportView.setSize(
                        this.contentBodyWidth, 
                        this.contentBodyHeight - 40);
                },
                load: function() {
                    loadReportViewData();
                }
            });

            function createReportView() {
                this.reportView = $("#reportView").reportView({
                    columns: [
                        { text: "", len: 40, align: "right", formatter: ui.ColumnStyle.cfn.rowNumber },
                        { column: "Text1", text: "列名", len: 100 },
                        { column: "Text2", text: "列名列名列名列名列名", len: 80 },
                        { column: "Text3", text: "列名", len: 100 },
                        { column: "Text4", text: "列名", len: 200 },
                        { column: "Text5", text: "列名", len: 100 },
                        { column: "Text6", text: "列名", len: 120 },
                        ui.ColumnStyle.emptyColumn
                    ],
                    fitColumns: true,
                    pager: {
                        pageIndex: 1,
                        pageSize: 100
                    }
                });
                this.reportView.selecting(function(e, eventData) {
                    //return false;
                });
                this.reportView.selected(function(e, eventData) {

                });
                this.reportView.deselected(function(e, eventData) {

                });
                this.reportView.pagechanging(function(e, pageIndex, pageSize) {
                    loadReportViewData(pageIndex);
                });
                this.reportView.cancel(function(e) {

                });
            }

            function loadReportViewData(pageIndex) {
                if(ui.core.isNumber(pageIndex)) {
                    pageIndex = pageLogic.reportView.pageIndex = 1;
                }
                var pageSize = pageLogic.reportView.pageSize;
                
                var data = [];
                for(var i = 0; i < 100; i++) {
                    data.push({
                        Text1: "文本数据1",
                        Text2: "文本数据2",
                        Text3: "文本数据3",
                        Text4: "文本数据4",
                        Text5: "文本数据5",
                        Text6: "超长文本数据超长文本数据超长文本数据超长文本数据超长文本数据超长文本数据超长文本数据超长文本数据"
                    });
                }
                
                pageLogic.reportView.createBody(data, data.length * 12);
            }
        })();
    </script>
</partial>
