@{layout:demo/views/shared/menu-layout.html}

<partial id="title">数据表格-固定列</partial>
<partial id="header">REPORT FIXED</partial>

<partial id="content">
    <div id="toolbar" class="toolbar clear">
        <ul class="tools" style="float:right">
            <li class="tool-item action-buttons">
                <a id="up" class="tool-action-button" href="javascript:void(0)" title="上移">
                    <i class="fa fa-arrow-up"></i>
                </a>
                <a id="down" class="tool-action-button" href="javascript:void(0)" title="下移">
                    <i class="fa fa-arrow-down"></i>
                </a>
                <a id="add" class="tool-action-button" href="javascript:void(0)" title="新增">
                    <i class="fa fa-plus"></i>
                </a>
                <a id="edit" class="tool-action-button" href="javascript:void(0)" title="编辑">
                    <i class="fa fa-pencil"></i>
                </a>
                <a id="remove" class="tool-action-button" href="javascript:void(0)" title="移除">
                    <i class="far fa-times"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="report-contianer" style="position:relative;width:100%;overflow:hidden;">
        <div id="reportView" style="position:absolute;width:1024px;height:500px;top:50%;left:50%;margin-top:-251px;margin-left:-512px;border-width:1px;border-style:solid;"></div>
    </div>
</partial>

<partial id="style"></partial>

<partial id="script">
    <script type="text/javascript" src="../../lib/menu/report-view-menus.js"></script>
    <script type="text/javascript" src="../../lib/data/jay-album.js"></script>
    <script type="text/javascript">
        (function() {
            var pageLogic = ui.page;
            pageLogic.init({
                toolbar: "toolbar",
                created: function() {
                    createReportView.call(this);
                    $("#up").on("click", function(e) {
                        pageLogic.reportView.currentRowUp();
                    });
                    $("#down").on("click", function(e) {
                        pageLogic.reportView.currentRowDown();
                    });
                    $("#add").on("click", function(e) {
                        var index = pageLogic.reportView.count();
                        if(index >= jaySongs.length) {
                            ui.messageShow("can not add new song.");
                            return;
                        }
                        var song = getSong(index);
                        pageLogic.reportView.addRow(song);
                    });
                    $("#edit").on("click", function(e) {
                        var data = pageLogic.reportView.getSelection();
                        if(!data) {
                            return;
                        }
                        var song = data.rowData;
                        song.name = song.name + "-已修改";
                        pageLogic.reportView.updateRow(data.rowIndex, song);
                    });
                    $("#remove").on("click", function(e) {
                        var data = pageLogic.reportView.getSelection();
                        if(!data) {
                            return;
                        }
                        pageLogic.reportView.removeRowAt(data.rowIndex);
                    });
                },
                layout: function() {
                    $(".report-contianer").css("height", this.contentBodyHeight - 40 + "px");
                },
                load: function() {
                    loadReportViewData();
                }
            });

            function createReportView() {
                this.reportView = $("#reportView").reportView({
                    columns: [
                        [
                            { text: "操作", colspan: 2, fixed: true },
                            { text: "歌曲信息", colspan: 5 },
                            { text: "其他信息", colspan: 2, fixed: true },
                            ui.ColumnStyle.multipleEmptyColumn(2)
                        ],
                        [
                            { text: "#", len: 40, align: "right", fixed: true, formatter: ui.ColumnStyle.cfn.rowNumber },
                            { column: "name", text: ui.ColumnStyle.cnfn.checkAll, align: "center", fixed: true, len: 40, formatter: ui.ColumnStyle.cfn.check },
                            { column: "name", text: "标题", len: 240 },
                            { column: "artist", text: "艺术家", len: 120, align: "center" },
                            { column: "album", text: "专辑", len: 160 },
                            { column: "star", text: "等级", len: 120, align: "center", sort: true,  
                                formatter: function(rate) {
                                    return "★★★★★☆☆☆☆☆".slice(5 - rate, 10 - rate);
                                }
                            },
                            { column: "year", text: "发表时间", len: 100, align: "center" },
                            { column: "coverSrc", text: "专辑封面路径", len: 360 },
                            { column: "otherInfo", text: "其它信息", len: 120, fixed: true },
                            { column: "otherInfo", text: "其它信息", len: 130, fixed: true }
                        ]
                    ],
                    pager: false,
                    selection: {
                        type: "row"
                        //exclude: "span"
                    },
                    width: 1024,
                    height: 502
                });
                this.reportView.selecting(function(e, eventData) {
                    //return false;
                });
                this.reportView.selected(function(e, eventData) {

                });
                this.reportView.deselected(function(e, eventData) {

                });
                this.reportView.cancel(function(e) {

                });
            }

            function loadReportViewData() {
                var data = [];
                for(var i = 0; i < 12; i++) {
                    data.push(getSong(i));
                }
                pageLogic.reportView.createBody(data);
                // setTimeout(function() {
                //     pageLogic.reportView.clear();
                //     setTimeout(function() {
                //         pageLogic.reportView.createBody(data, data.length);
                //     }, 10 * 1000);
                // }, 10 * 1000);
            }

            function getSong(i) {
                var song = jaySongs[i];
                song.coverSrc = "../../lib/data/album-cover/" + song.album + ".jpg";
                song.otherInfo = "其它信息";
                song.star = ui.random.getNum(1, 6);
                return song;
            }
        })();
    </script>
</partial>
