@{layout:demo/views/shared/menu-layout.html}

<partial id="title">数据表格-固定列</partial>
<partial id="header">REPORT FIXED</partial>

<partial id="content">
    <div class="toolbar"></div>
    <div class="report-contianer" style="position:relative;width:100%;overflow:hidden;">
        <div id="reportView" style="position:absolute;width:1024px;height:500px;top:50%;left:50%;margin-top:-251px;margin-left:-512px;border-width:1px;border-style:solid;"></div>
    </div>
</partial>

<partial id="style"></partial>

<partial id="script">
    <script type="text/javascript" src="../../lib/menu/report-view-menus.js"></script>
    <script type="text/javascript" src="../../lib/data/jay-album.js"></script>
    <script type="text/javascript">
        (function() {
            window.pageLogic = {
                init: {
                    create: function() {
                        createReportView.call(this);
                    },
                    layout: function() {
                        ui.master.resize(function(e) {
                            var width = ui.master.contentBodyWidth, 
                                height = ui.master.contentBodyHeight;

                            $(".report-contianer").css("height", height - 40 + "px");
                            //pageLogic.reportView.setSize(width, height - 40);
                        });
                    },
                    event: function() {

                    },
                    load: function() {
                        loadReportViewData();
                    }
                }
            };

            function createReportView() {
                this.reportView = $("#reportView").reportView({
                    columns: [
                        [
                            { text: "操作", colspan: 2, fixed: true },
                            { text: "歌曲信息", colspan: 5 },
                            { text: "其他信息", colspan: 2, fixed: true },
                            ui.ColumnStyle.multipleEmptyColumn(2)
                        ],
                        [
                            { text: "#", len: 40, align: "right", fixed: true, formatter: ui.ColumnStyle.cfn.rowNumber },
                            { column: "name", text: ui.ColumnStyle.cnfn.checkAll, align: "center", fixed: true, len: 40, formatter: ui.ColumnStyle.cfn.check },
                            { column: "name", text: "标题", len: 240 },
                            { column: "artist", text: "艺术家", len: 160 },
                            { column: "star", text: "等级", len: 120, align: "center", sort: true,  
                                formatter: function(rate) {
                                    return "★★★★★☆☆☆☆☆".slice(5 - rate, 10 - rate);
                                }
                            },
                            { column: "year", text: "发表时间", len: 100, align: "center" },
                            { column: "coverSrc", text: "专辑封面路径", len: 360 },
                            { column: "otherInfo", text: "其它信息", len: 120, fixed: true },
                            { column: "otherInfo", text: "其它信息", len: 130, fixed: true }
                        ]
                    ],
                    pager: {
                        pageIndex: 1,
                        pageSize: 100
                    },
                    selection: {
                        type: "row"
                        //exclude: "span"
                    },
                    width: 1024,
                    height: 502
                });
                this.reportView.selecting(function(e, eventData) {
                    //return false;
                });
                this.reportView.selected(function(e, eventData) {

                });
                this.reportView.deselected(function(e, eventData) {

                });
                this.reportView.pagechanging(function(e, pageIndex, pageSize) {
                    loadReportViewData(pageIndex);
                });
                this.reportView.cancel(function(e) {

                });
            }

            function loadReportViewData(pageIndex) {
                if(ui.core.isNumber(pageIndex)) {
                    pageIndex = pageLogic.reportView.pageIndex = 1;
                }
                var pageSize = pageLogic.reportView.pageSize;
                
                var item;
                for(var i = 0; i < jaySongs.length; i++) {
                    item = jaySongs[i];
                    item.coverSrc = "../../lib/data/album-cover/" + item.album + ".jpg";
                    item.otherInfo = "其它信息";
                    item.star = ui.random.getNum(1, 6);
                }
                var data = jaySongs;
                pageLogic.reportView.createBody(data, data.length);
                // setTimeout(function() {
                //     pageLogic.reportView.clear();
                //     setTimeout(function() {
                //         pageLogic.reportView.createBody(data, data.length);
                //     }, 10 * 1000);
                // }, 10 * 1000);
            }
        })();
    </script>
</partial>
