<partial id="title">动态磁贴</partial>
<partial id="header">TILES</partial>

<partial id="style">
    <style type="text/css">

    </style>
</partial>

<partial id="content">
    <div id="tileContainer" class="tile-container" style="width:100%;height:100%;overflow:auto;"></div>
</partial>

<partial id="script">
    <script type="text/javascript">
        (function() {
            window.pageLogic = {
                init: {
                    before: function() {
                        var color = ui.theme.currentHighlight.Color;
                        this.tileContainer = ui.TileContainer("tileContainer");
                        this.tileContainer.addGroup("常用", [
                            { type: "large", color: color, title: "天气", icon: "../../content/icons/tile/Weather.png", name: "weather", interval: 5, updateFn: updateWeather },
                            { type: "wide", color: color, title: "日期", icon: "../../content/icons/tile/date.png", name: "date", interval: 1, updateStyle: "moveup", updateFn: ui.tiles.calendar },
                            { type: "wide", color: color, title: "时间", icon: "../../content/icons/tile/time.png", name: "time", interval: 1, updateFn: ui.tiles.clock },
                            { type: "small", color: color, title: "bing", icon: "../../content/icons/tile/IE.png", link: "http://cn.bing.com" },
                            { type: "small", color: color, title: "baidu", icon: "../../content/icons/tile/IE.png", link: "http://www.baidu.com" },
                            { type: "small", color: color, title: "microsoft", icon: "../../content/icons/tile/IE.png" },
                            { type: "small", color: color, title: "google", icon: "../../content/icons/tile/IE.png" },
                            { type: "medium", color: color, title: "浏览器", icon: "../../content/icons/tile/IE.png" },
                            { type: "medium", color: color, title: "飞机", icon: "../../content/icons/tile/plane.png" },
                            { type: "medium", color: color, title: "机票打印", icon: "../../content/icons/tile/plane-print.png" },
                            { type: "medium", color: color, title: "度假", icon: "../../content/icons/tile/vacation.png" },
                            { type: "medium", color: color, title: "请假单", icon: "../../content/icons/tile/vacation-print.png" }
                        ]);
                        this.tileContainer.addGroup("日常工作", [
                            { type: "wide", color: color, title: "工时记录", icon: "../../content/icons/tile/worktime.png" },
                            { type: "medium", color: color, title: "工时查询", icon: "../../content/icons/tile/worktime-query.png" },
                            { type: "medium", color: color, title: "工时确认", icon: "../../content/icons/tile/worktime-check.png" },
                            { type: "large", color: color, title: "Message", icon: "../../content/icons/tile/message.png" },
                            { type: "wide", color: color, title: "考勤信息", icon: "../../content/icons/tile/attendance.png" },
                            { type: "wide", color: color, title: "考勤打印", icon: "../../content/icons/tile/attendance-print.png" }
                        ]);
                        this.tileContainer.addGroup("项目管理", [
                            { type: "wide", color: color, title: "用户", icon: "../../content/icons/tile/user.png" },
                            { type: "small", color: color, title: "机构", icon: "../../content/icons/tile/organization.png" },
                            { type: "small", color: color, title: "部门", icon: "../../content/icons/tile/department.png" },
                            { type: "small", color: color, title: "职位", icon: "../../content/icons/tile/position.png" },
                            { type: "small", color: color, title: "人力成本", icon: "../../content/icons/tile/laborCost.png" },
                            { type: "medium", color: color, title: "员工统计", icon: "../../content/icons/tile/member-statistic.png" },
                            { type: "large", color: color, title: "项目", icon: "../../content/icons/tile/project.png" },
                            { type: "wide", color: color, title: "项目统计", icon: "../../content/icons/tile/project-statistic.png" },
                            { type: "medium", color: color, title: "资源分布", icon: "../../content/icons/tile/statistic.png" },
                            { type: "medium", color: color, title: "成本统计", icon: "../../content/icons/tile/cost-statistic.png" }
                        ]);
                        this.tileContainer.addGroup("系统设置", [
                            { type: "wide", color: color, title: "菜单", icon: "../../content/icons/tile/menu.png" },
                            { type: "medium", color: color, title: "设置", icon: "../../content/icons/tile/Settings.png" },
                            { type: "medium", color: color, title: "字典管理", icon: "../../content/icons/tile/dictionary.png" },
                            { type: "wide", color: color, title: "登录图片", icon: "../../content/icons/tile/login-images.png", name: "loginImage", interval: 1, updateFn: picturePlay }
                        ]);
                        
                        ui.page.hlchanged(function(e, highlight) {
                            pageLogic.tileContainer.groups.forEach(function(group) {
                                var i = group.length - 1,
                                    tile;
                                for(; i >= 0; i--) {
                                    tile = group[i];
                                    tile.color = highlight.Color;
                                }
                            });
                        });
                    },
                    layout: function() {
                        ui.master.resize(function(e) {
                            var width = ui.master.contentBodyWidth, 
                                height = ui.master.contentBodyHeight;
                            pageLogic.tileContainer.layout(width, height);
                        });
                    },
                    after: function() {
                    },
                    events: function() {
                    },
                    load: function() {
                    }
                }
            };

            function updateWeather(tile) {
                var weatherData,
                    i, len,
                    today,
                    date;
                weatherData = {
                    cityName: "南京",
                    days: [
                        { date: null, type: "1", temperature: 23, low: 19, high: 25, description: "阵雨转多云", windDirection: "东南风转西北风，3级" },
                        { date: null, type: "1", temperature: null, low: 20, high: 28, description: "晴", windDirection: "东南风转西北风，3级" },
                        { date: null, type: "1", temperature: null, low: 20, high: 28, description: "多云", windDirection: "东南风转西北风，3级" },
                        { date: null, type: "1", temperature: null, low: 20, high: 27, description: "多云转阴", windDirection: "东南风转西北风，3级" },
                        { date: null, type: "1", temperature: null, low: 22, high: 26, description: "阵雨", windDirection: "东南风转西北风，3级" },
                        { date: null, type: "1", temperature: null, low: 21, high: 26, description: "阵雨", windDirection: "东南风转西北风，3级" }
                    ]
                };
                today = new Date();
                for(i = 0, len = weatherData.days.length; i < len; i++) {
                    date = new Date(today.getFullYear(), today.getMonth(), today.getDate() + i);
                    weatherData.days[i].date = ui.date.format(date, "yyyy-MM-dd") + "T00:00:00";
                }
                ui.tiles.weather(tile, weatherData);
            }

            function picturePlay(tile) {
                var images = [
                    "../../content/pictures/1.jpg",
                    "../../content/pictures/5.jpg",
                    "../../content/pictures/14.jpg",
                    "../../content/pictures/20.jpg",
                    "../../content/pictures/27.jpg"
                ];
                ui.tiles.picture(tile, images);
            }
        })();
    </script>
</partial>
