<partial id="title">树形视图</partial>
<partial id="header">TREE VIEW</partial>

<partial id="content">
    <div class="toolbar">
        <ul class="tools" style="float:right">
            <li class="tool-item action-buttons">
                <a id="setSelection" class="tool-action-button" href="javascript:void(0)" title="选中项目">
                    <i class="fa fa-check-square"></i>
                </a>
                <a id="cancelSelection" class="tool-action-button" href="javascript:void(0)" title="取消特定的项目">
                    <i class="fa fa-minus-square"></i>
                </a>
                <a id="cancelAll" class="tool-action-button" href="javascript:void(0)" title="取消全部项目">
                    <i class="fa fa-square"></i>
                </a>
            </li>
        </ul>
    </div>
    <div id="treeView"></div>
</partial>

<partial id="style">
    <style type="text/css">
        #treeView {
            width: 300px;
            margin: 20px auto;
        }
    </style>
</partial>

<partial id="script">
    <script type="text/javascript">
        (function() {
            var pageLogic = ui.page;
            pageLogic.init({
                toolbar: "toolbar",
                created: function() {
                    this.treeView = createTreeView.call(this);
                    
                    $("#setSelection").on("click", function(e) {
                        pageLogic.treeView.setSelection(["1.1", "2.1", "3"]);
                    });
                    $("#cancelSelection").on("click", function(e) {
                        pageLogic.treeView.cancelSelection(["1.1", "3"]);
                    });
                    $("#cancelAll").on("click", function(e) {
                        pageLogic.treeView.cancelSelection();
                    });
                },
                layout: function() {
                    $("#treeView").css("height", this.contentBodyHeight - 80 + "px");
                }
            });

            function createTreeView() {
                var treeView = $("#treeView").treeView({
                    valueField: "id",
                    textField: "name",
                    parentField: "parent",
                    defaultExpandLevel: 2,
                    nodeSelectable: true,
                    multiple: true,
                    viewData: [
                        { id: "1", name: "第一层" },
                        { id: "1.1", name: "第一一层", parent: "1" },
                        { id: "1.2", name: "第一二层", parent: "1" },
                        { id: "2", name: "第二层" },
                        { id: "2.1", name: "第二一层", parent: "2" },
                        { id: "2.2", name: "第二二层", parent: "2" },
                        { id: "2.1.1", name: "第二一一层", parent: "2.1" },
                        { id: "2.1.2", name: "第二一二层", parent: "2.1" },
                        { id: "2.2.1", name: "第二二一层", parent: "2.2" },
                        { id: "2.2.2", name: "第二二二层", parent: "2.2" },
                        { id: "3", name: "第三层" }
                    ]
                });
                return treeView;
            }
        })();
    </script>
</partial>
