/* fold-view */
.ui-fold-view {
    display: block;
}

.ui-fold-view-title {
    font-size: 11pt;
    margin-top: 10px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.ui-fold-view-icon {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    height: 18px;
    width: 18px;
    margin-top: 6px;
    margin-right: 6px;
    line-height: 16px;
    overflow: hidden;
}
