

.tile-medium .clock-hour {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    font-size: 48px;
    line-height: 1.3em;
    font-family: 'Segoe UI', 'Microsoft YaHei';
    font-weight: bold;
}

.tile-medium .clock-minute {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 50%;
    top: 50%;
    left: 0;
    font-size: 48px;
    line-height: 1.2em;
    font-family: 'Segoe UI', 'Microsoft YaHei';
    opacity: .7;
}

.tile-medium .clock-spliter {
    width: 60%;
    margin-left: 20%;
    background-color: #fff;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
}


.tile-wide .clock-hour,
.tile-large .clock-hour {
    font-family: 'Segoe UI', 'Microsoft YaHei';
    font-weight: bold;
    font-size: 64px;
}

.tile-wide .clock-minute,
.tile-large .clock-minute {
    font-family: 'Segoe UI', 'Microsoft YaHei';
    font-size: 64px;
    opacity: .7;
}

.tile-wide .clock-spliter,
.tile-large .clock-spliter {
    font-size: 64px;
    margin-left: 10px;
    margin-right: 10px;
}
