
.tile-medium .clock-text {
    font-size: 24px;
}

.tile-medium .clock-spliter {
    width: 60%;
    margin-left: 20%;
    background-color: #fff;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
}


.tile-wide .clock-text,
.tile-large .clock-text {
    font-size: 48px;
}

.tile-wide .clock-spliter,
.tile-large .clock-spliter {
    font-size: 48px;
}
