<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>视图</title>

    <link type="text/css" href="../../../dist/theme/light/site.light.css" rel="stylesheet" />
    <link type="text/css" href="../../../dist/theme/light/metro-light.all.css" rel="stylesheet" />
    <link type="text/css" href="../../../dist/theme/viewpage/viewpage.all.css" rel="stylesheet" />
    <link type="text/css" href="../../content/font-awesome.min.css" rel="stylesheet" />
    
    <style type="text/css">
        .album {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    </style>

    <link id="highlight" type="text/css" href="../../../dist/theme/color/ui.metro.SeaBlue.css" rel="stylesheet" />
</head>
<body>
    <header id="head" class="head-color clear">
        <h1 class="head-system-title">
            <a class="ui-menu-button" href="javascript:void(0)"></a><span class="head-system-title-text">CARD VIEW</span>
        </h1>
        <ul id="headerCtrls" class="head-ctrl-buttons">
            <li class="head-ctrl-buttons-item">
                <div id="user" class="user-color title-color" title="username">
                    <img src="../../content/images/protrait.png" class="cover" />
                </div>
            </li>
        </ul>
    </header>
    <section id="body">
        <div class="ui-menu-panel"></div>
        <div class="content-container">
            
    <div id="toolbar" class="toolbar clear">
        <ul class="tools" style="float:right">
            <li class="tool-item action-buttons">
                <a id="addItem" class="tool-action-button" href="javascript:void(0)" title="添加">
                    <i class="fa fa-plus-circle"></i>
                </a>
                <a id="insertItem" class="tool-action-button" href="javascript:void(0)" title="插入">
                        <i class="fa fa-object-group"></i>
                    </a>
                <a id="deleteItem" class="tool-action-button" href="javascript:void(0)" title="删除">
                    <i class="fa fa-remove"></i>
                </a>
            </li>
        </ul>
    </div>
    <div id="cardView"></div>

        </div>
    </section>

    <script type="text/javascript" src="../../../jquery.js"></script>
    <script type="text/javascript" src="../../../dist/ui-core.3.0.0.js"></script>
    <script type="text/javascript" src="../../../dist/ui-components.3.0.0.js"></script>
    <script type="text/javascript" src="../../../dist/ui-controls.3.0.0.js"></script>
    <script type="text/javascript" src="../../../dist/ui-viewpages.3.0.0.js"></script>
    <script type="text/javascript" src="../../lib/data/highlights.js"></script>
    <script type="text/javascript">
        ui.master.config("userSettings", {
            changeHighlightUrl: function(highlight) {
                $("#highlight").prop("href", ui.str.format("../../../dist/theme/color/ui.metro.{0}.css", highlight.Id));
                ui.theme.setHighlight(highlight);
            }
        });
        ui.master.init(function() {
            this.config("menu");
        });
        ui.master.ready(function() {
            if(pageLogic && menus) {
                ui.master.menu.setMenuList(menus);
            }
        });
    </script>
    
    <script type="text/javascript" src="../../lib/menu/card-view-menus.js"></script>
    <script type="text/javascript" src="../../lib/data/jay-album.js"></script>
    <script type="text/javascript" src="../../lib/data/albums.js"></script>
    <script type="text/javascript">
        (function() {
            var removeItems = [];
            window.pageLogic = {
                init: {
                    before: function() {
                        this.toolbar = ui.master.createToolbar("toolbar");
                        createCardView.call(this);
                    },
                    layout: function() {
                        ui.master.resize(function(e) {
                            var width = ui.master.contentBodyWidth, 
                                height = ui.master.contentBodyHeight;
                            pageLogic.cardView.setSize(height - 40);
                        });
                    },
                    after: function() {

                    },
                    events: function() {
                        $("#addItem").click(function(e) {
                            if(removeItems.length === 0) {
                                ui.messageShow("没有被移除的项目，请先移除一个项目");
                                return;
                            }
                            while(removeItems.length > 0) {
                                pageLogic.cardView.addItem(removeItems.shift());
                            }
                        });
                        $("#insertItem").click(function(e) {
                            var item = albums[ui.random.getNum(0, albums.length)];
                            pageLogic.cardView.insertItem(
                                ui.random.getNum(0, pageLogic.cardView.count()), 
                                {
                                    picture: "../../lib/data/album-cover/" + item.album + ".jpg"
                                });
                        });
                        $("#deleteItem").click(function(e) {
                            var selectList = pageLogic.cardView.getSelection();
                            if(selectList.length === 0) {
                                ui.messageShow("您还没有选择要删除的内容");
                                return;
                            }
                            var indexes = [];
                            selectList.forEach(function(item) {
                                removeItems.push(item.itemData);
                                indexes.push(item.itemIndex);
                            });
                            pageLogic.cardView.removeAt.apply(pageLogic.cardView, indexes);
                        });
                    },
                    load: function() {
                        loadCardViewData();
                    }
                }
            };

            function createCardView() {
                this.cardView = $("#cardView").cardView({
                    itemWidth: 160,
                    itemHeight: 160,
                    renderItemFormatter: renderItem,
                    pager: false,
                    selection: {
                        multiple: true
                    }
                });
                this.cardView.selecting(function(e, eventData) {
                    //return false;
                });
                this.cardView.selected(function(e, eventData) {

                });
                this.cardView.deselected(function(e, eventData) {

                });
                this.cardView.cancel(function(e) {

                });
            }
            
            function renderItem(itemData, index) {
                var img = $("<img />");
                img.setImage(
                    itemData.picture,
                    this.option.itemWidth,
                    this.option.itemHeight,
                    ui.ImageLoader.centerCrop
                ).then(
                    function() {
                        
                    }, 
                    function() {
                        ui.messageShow("专辑图片加载失败");
                    }
                );
                return img;
            }

            function loadCardViewData() {
                var data = [],
                    key = {};
                jaySongs.forEach(function(item) {
                    if(!key.hasOwnProperty(item.album)) {
                        key[item.album] = true;
                        data.push({
                            picture: "../../lib/data/album-cover/" + item.album + ".jpg"
                        });
                    }
                });
                pageLogic.cardView.fill(data, 100);
            }
        })();
    </script>

</body>
</html>
