<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>数据表格-多级表头</title>

    <link type="text/css" href="../../../dist/theme/light/site.light.css" rel="stylesheet" />
    <link type="text/css" href="../../../dist/theme/light/metro-light.all.css" rel="stylesheet" />
    <link type="text/css" href="../../../dist/theme/viewpage/viewpage.all.css" rel="stylesheet" />
    <link type="text/css" href="../../content/font-awesome.min.css" rel="stylesheet" />
    
    <link id="highlight" type="text/css" href="../../../dist/theme/color/ui.metro.SeaBlue.css" rel="stylesheet" />
</head>
<body>
    <header id="head" class="head-color clear">
        <h1 class="head-system-title">
            <a class="ui-menu-button" href="javascript:void(0)"></a><span class="head-system-title-text">REPORT MULTIPLE HEAD</span>
        </h1>
        <ul id="headerCtrls" class="head-ctrl-buttons">
            <li class="head-ctrl-buttons-item">
                <div id="user" class="user-color title-color" title="username">
                    <img src="../../content/images/protrait.png" class="cover" />
                </div>
            </li>
        </ul>
    </header>
    <section id="body">
        <div class="ui-menu-panel"></div>
        <div class="content-container">
            
    <div class="toolbar"></div>
    <div id="reportView"></div>

        </div>
    </section>

    <script type="text/javascript" src="../../../jquery.js"></script>
    <script type="text/javascript" src="../../../dist/ui-core.3.0.0.js"></script>
    <script type="text/javascript" src="../../../dist/ui-components.3.0.0.js"></script>
    <script type="text/javascript" src="../../../dist/ui-controls.3.0.0.js"></script>
    <script type="text/javascript" src="../../../dist/ui-viewpages.3.0.0.js"></script>
    <script type="text/javascript" src="../../lib/data/highlights.js"></script>
    <script type="text/javascript">
        ui.master.config("userSettings", {
            changeHighlightUrl: function(highlight) {
                $("#highlight").prop("href", ui.str.format("../../../dist/theme/color/ui.metro.{0}.css", highlight.Id));
                ui.theme.setHighlight(highlight);
            }
        });
        ui.master.init(function() {
            this.config("menu");
        });
        ui.master.ready(function() {
            if(pageLogic && menus) {
                ui.master.menu.setMenuList(menus);
            }
        });
    </script>
    
    <script type="text/javascript" src="../../lib/menu/report-view-menus.js"></script>
    <script type="text/javascript">
        (function() {
            window.pageLogic = {
                init: {
                    before: function() {
                        createReportView.call(this);
                    },
                    layout: function() {
                        ui.master.resize(function(e) {
                            var width = ui.master.contentBodyWidth, 
                                height = ui.master.contentBodyHeight;
                            pageLogic.reportView.setSize(width, height - 40);
                        });
                    },
                    after: function() {

                    },
                    events: function() {

                    },
                    load: function() {
                        loadReportViewData();
                    }
                }
            };

            function createReportView() {
                this.reportView = $("#reportView").reportView({
                    dataGroupColumns: [
                        [{ text: "", len: 40, align: "right", rowspan: 3, formatter: ui.ColumnStyle.cfn.rowNumber }, { column: "Text1", text: "单位", rowspan: 3, len: 200 }, { text: "超限30%以内", colspan: 9 }, { text: "超限30%以上", colspan: 7 }, { text: ui.ColumnStyle.cnfn.empty, formatter: ui.ColumnStyle.cfn.empty, rowspan: 3 }],
                        [{ column: "Total1", text: "合计", len: 60, align: "right", sort: true, rowspan: 2 }, { text: "5%以内", colspan: 2 }, { text: "5%-10%", colspan: 2 }, { text: "10%-20%", colspan: 2 }, { text: "20%-30%", colspan: 2 }, { column: "Total2", text: "合计", len: 60, align: "right", sort: true, rowspan: 2 }, { text: "30%-50%", colspan: 2 }, { text: "50%-100%", colspan: 2 }, { text: "100%以上", colspan: 2 }],
                        [
                            { column: "Num1_1", text: "数量", len: 60, align: "right" },
                            { column: ["Num1_1", "Total1"], text: "百分比", len: 120, formatter: ui.ColumnStyle.cfnp.getProgressFormatter(100) },
                            { column: "Num1_2", text: "数量", len: 60, align: "right" },
                            { column: ["Num1_2", "Total1"], text: "百分比", len: 120, formatter: ui.ColumnStyle.cfnp.getProgressFormatter(100) },
                            { column: "Num1_3", text: "数量", len: 60, align: "right" },
                            { column: ["Num1_3", "Total1"], text: "百分比", len: 120, formatter: ui.ColumnStyle.cfnp.getProgressFormatter(100) },
                            { column: "Num1_4", text: "数量", len: 60, align: "right" },
                            { column: ["Num1_4", "Total1"], text: "百分比", len: 120, formatter: ui.ColumnStyle.cfnp.getProgressFormatter(100) },
                            { column: "Num2_1", text: "数量", len: 60, align: "right" },
                            { column: ["Num2_1", "Total2"], text: "百分比", len: 120, formatter: ui.ColumnStyle.cfnp.getProgressFormatter(100) },
                            { column: "Num2_2", text: "数量", len: 60, align: "right" },
                            { column: ["Num2_2", "Total2"], text: "百分比", len: 120, formatter: ui.ColumnStyle.cfnp.getProgressFormatter(100) },
                            { column: "Num2_3", text: "数量", len: 60, align: "right" },
                            { column: ["Num2_3", "Total2"], text: "百分比", len: 120, formatter: ui.ColumnStyle.cfnp.getProgressFormatter(100) }
                        ]
                    ],
                    fitColumns: false,
                    selection: {
                        type: "disabled",
                        exclude: "input[checkbox], a",
                        multiple: false
                    },
                    pager: {
                        pageIndex: 1,
                        pageSize: 100
                    }
                });
                this.reportView.selecting(function(e, eventData) {
                    //return false;
                });
                this.reportView.selected(function(e, eventData) {

                });
                this.reportView.deselected(function(e, eventData) {

                });
                this.reportView.pagechanging(function(e, pageIndex, pageSize) {
                    loadReportViewData(pageIndex);
                });
                this.reportView.cancel(function(e) {

                });
            }

            function loadReportViewData(pageIndex) {
                if(ui.core.isNumber(pageIndex)) {
                    pageIndex = pageLogic.reportView.pageIndex = 1;
                }
                var pageSize = pageLogic.reportView.pageSize;
                
                var data = [
                    {
                        Text1: "扬州市公路路政支队",
                        Total1: 230,
                        Num1_1: 20,
                        Num1_2: 100,
                        Num1_3: 60,
                        Num1_4: 50,
                        Total2: 70,
                        Num2_1: 10,
                        Num2_2: 50,
                        Num2_3: 10
                    },
                    {
                        Text1: "高邮市公路路政支队",
                        Total1: 337,
                        Num1_1: 60,
                        Num1_2: 120,
                        Num1_3: 80,
                        Num1_4: 77,
                        Total2: 190,
                        Num2_1: 60,
                        Num2_2: 50,
                        Num2_3: 80
                    },
                    {
                        Text1: "宝应县公路路政支队",
                        Total1: 173,
                        Num1_1: 22,
                        Num1_2: 54,
                        Num1_3: 88,
                        Num1_4: 9,
                        Total2: 95,
                        Num2_1: 25,
                        Num2_2: 30,
                        Num2_3: 40
                    },
                    {
                        Text1: "仪征市公路路政支队",
                        Total1: 400,
                        Num1_1: 120,
                        Num1_2: 80,
                        Num1_3: 90,
                        Num1_4: 110,
                        Total2: 95,
                        Num2_1: 30,
                        Num2_2: 40,
                        Num2_3: 25
                    }
                ];
                pageLogic.reportView.createReportBody(data, data.length);
            }
        })();
    </script>

</body>
</html>
