<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>数据表格-固定列</title>

    <link type="text/css" href="../../../dist/theme/light/site.light.css" rel="stylesheet" />
    <link type="text/css" href="../../../dist/theme/light/metro-light.all.css" rel="stylesheet" />
    <link type="text/css" href="../../../dist/theme/viewpage/viewpage.all.css" rel="stylesheet" />
    <link type="text/css" href="../../content/font-awesome.min.css" rel="stylesheet" />
    
    <link id="highlight" type="text/css" href="../../../dist/theme/color/ui.metro.SeaBlue.css" rel="stylesheet" />
</head>
<body>
    <header id="head" class="head-color clear">
        <h1 class="head-system-title">
            <a class="ui-menu-button" href="javascript:void(0)"></a><span class="head-system-title-text">REPORT TREE FIXED</span>
        </h1>
        <ul id="headerCtrls" class="head-ctrl-buttons">
            <li class="head-ctrl-buttons-item">
                <div id="user" class="user-color title-color" title="username">
                    <img src="../../content/images/protrait.png" class="cover" />
                </div>
            </li>
        </ul>
    </header>
    <section id="body">
        <div class="ui-menu-panel"></div>
        <div class="content-container">
            
    <div class="toolbar"></div>
    <div id="reportView"></div>

        </div>
    </section>

    <script type="text/javascript" src="../../../jquery.js"></script>
    <script type="text/javascript" src="../../../dist/ui-core.3.0.0.js"></script>
    <script type="text/javascript" src="../../../dist/ui-components.3.0.0.js"></script>
    <script type="text/javascript" src="../../../dist/ui-controls.3.0.0.js"></script>
    <script type="text/javascript" src="../../../dist/ui-viewpages.3.0.0.js"></script>
    <script type="text/javascript" src="../../lib/data/highlights.js"></script>
    <script type="text/javascript">
        ui.master.config("userSettings", {
            changeHighlightUrl: function(highlight) {
                $("#highlight").prop("href", ui.str.format("../../../dist/theme/color/ui.metro.{0}.css", highlight.Id));
                ui.theme.setHighlight(highlight);
            }
        });
        ui.master.init(function() {
            this.config("menu");
        });
        ui.master.ready(function() {
            if(pageLogic && menus) {
                ui.master.menu.setMenuList(menus);
            }
        });
    </script>
    
    <script type="text/javascript" src="../../lib/menu/report-view-menus.js"></script>
    <script type="text/javascript" src="../../lib/data/jay-album.js"></script>
    <script type="text/javascript">
        (function() {
            window.pageLogic = {
                init: {
                    before: function() {
                        createReportView.call(this);
                    },
                    layout: function() {
                        ui.master.resize(function(e) {
                            var width = ui.master.contentBodyWidth, 
                                height = ui.master.contentBodyHeight;
                            pageLogic.reportView.setSize(width, height - 40);
                        });
                    },
                    after: function() {

                    },
                    events: function() {

                    },
                    load: function() {
                        loadReportViewData();
                    }
                }
            };

            function createReportView() {
                this.reportView = $("#reportView").reportView({
                    fixedGroupColumns: [
                        { text: "", len: 40, align: "right", formatter: ui.ColumnStyle.cfn.rowNumber },
                        { column: "name", text: "标题", len: 240 },
                    ],
                    dataGroupColumns: [
                        { column: "artist", text: "艺术家", len: 160 },
                        { column: "star", text: "等级", len: 120 },
                        { column: "year", text: "发表时间", len: 100 },
                        { column: "otherInfo", text: "其它信息", len: 120 },
                        { column: "otherInfo", text: "其它信息", len: 130 },
                        { column: "coverSrc", text: "专辑封面路径", len: 360 },
                        { text: ui.ColumnStyle.cnfn.empty, formatter: ui.ColumnStyle.cfn.empty }
                    ],
                    pager: {
                        pageIndex: 1,
                        pageSize: 100
                    },
                    selection: {
                        exclude: "span"
                    }
                });
                this.reportView.selecting(function(e, eventData) {
                    //return false;
                });
                this.reportView.selected(function(e, eventData) {

                });
                this.reportView.deselected(function(e, eventData) {

                });
                this.reportView.pagechanging(function(e, pageIndex, pageSize) {
                    loadReportViewData(pageIndex);
                });
                this.reportView.cancel(function(e) {

                });
            }

            function loadReportViewData(pageIndex) {
                if(ui.core.isNumber(pageIndex)) {
                    pageIndex = pageLogic.reportView.pageIndex = 1;
                }
                var pageSize = pageLogic.reportView.pageSize;
                
                var item;
                for(var i = 0; i < jaySongs.length; i++) {
                    item = jaySongs[i];
                    item.coverSrc = "../../lib/data/album-cover/" + item.album + ".jpg";
                    item.otherInfo = "其它信息";
                    item.star = ui.random.getNum(1, 6);
                }
                var data = jaySongs;
                pageLogic.reportView.createReportBody(data, data.length);
            }
        })();
    </script>

</body>
</html>
