
<partial id="title">选择器</partial>
<partial id="header">Chooser</partial>

<partial id="content">
    <div class="content-panel">
        <dl class="ui-fold-view" style="padding:20px;">
            <dt>ui.ctrls.Chooser</dt>
            <dd class="section-container">
                <p class="description-paragraph">
                    选择器(ui.ctrls.Chooser)类似iOS中的选择列表，一般用于需要选择多组值并组合成一个新值的场景。如：年月选择，时分秒选择。<br />
                    <span class="font-highlight">重要参数：</span><br />
                    type: 选择器类型，支持yearMonth(年月), time(时分秒), hourMinute(时分)，也可以自定义<br />
                    spliter: 分隔符常用于日期格式，时间格式<br />
                    size: 候选项的显示个数 S: 3, M: 5, L: 9
                </p>
                <div class="box-line clear">
                    <div class="box-column">
                        <label class="label-text">年月选择</label>
                        <br />
                        <input id="yearMonthChooser" type="text" class="ui-select-text" />
                    </div>
                    <div class="box-column">
                        <label class="label-text">时间选择</label>
                        <br />
                        <input id="timeChooser" type="text" class="ui-select-text" />
                    </div>
                    <div class="box-column">
                        <label class="label-text">时分选择</label>
                        <br />
                        <input id="hourMinuteChooser" type="text" class="ui-select-text" />
                    </div>
                </div>
                <p class="description-paragraph">
                    自定义类型可以调用<span class="font-highlight">ui.ctrls.Chooser.extendType(type, fn)</span>添加新的类型。
                </p>
                <div class="box-line">
                    <label class="label-text">地区选择</label>
                    <br />
                    <input id="customChooser" type="text" class="ui-select-text" />
                </div>
            </dd>
            <dt>颜色选择器</dt>
            <dd class="section-container">
                <p class="description-paragraph">
                    
                </p>
                <div class="box-line">
                    <label class="label-text">请选择您喜欢的颜色：</label>
                    <br />
                    <input id="selectColor" type="text" />
                </div>
            </dd>
        </dl>
    </div>
</partial>

<partial id="style">
    <style type="text/css">
        .content-panel {
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        .section-container {
            width: 100%;
            height: auto;
        }

        .description-paragraph {
            /* text-indent: 2em; */
            line-height: 1.5;
            font-size: 1.25em;
        }

        .box-line {
            width: 100%;
            height: 60px;
            overflow: visible;
        }

        .box-column {
            width: 200px;
            height: 100%;
            float: left;
        }

        .label-text {
            line-height: 24px;
        }
    </style>
</partial>

<partial id="script">
    <script type="text/javascript">
        (function() {
            window.pageLogic = {
                init: {
                    before: function() {
                        this.contentPanel = $(".content-panel");

                        createChooser.call(this);
                        createCustomChooser.call(this);

                        $(".ui-fold-view").foldView();
                    },
                    layout: function() {
                        ui.master.resize(function(e) {
                            var width = ui.master.contentBodyWidth, 
                                height = ui.master.contentBodyHeight;
                        });
                    },
                    after: function() {

                    },
                    events: function() {

                    },
                    load: function() {
                        
                    }
                }
            };

            function createChooser() {
                this.yearMonthChooser = $("#yearMonthChooser").chooser({
                    type: "yearMonth"
                });
                this.yearMonthChooser.changed(function(e, eventData) {
                    this.element.val(eventData.text);
                });

                this.timeChooser = $("#timeChooser").chooser({
                    type: "time"
                });
                this.timeChooser.changed(function(e, eventData) {
                    this.element.val(eventData.text);
                });

                this.hourMinuteChooser = $("#hourMinuteChooser").chooser({
                    type: "hourMinute"
                });
                this.hourMinuteChooser.changed(function(e, eventData) {
                    this.element.val(eventData.text);
                });
            }

            function createCustomChooser() {
                var addressTree = [
                    {
                        value: "1",
                        text: "浙江省",
                        children: [
                            { value: "1.1", text: "杭州" },
                            { value: "1.2", text: "宁波" },
                            { value: "1.3", text: "温州" },
                            { value: "1.4", text: "嘉兴" },
                            { value: "1.5", text: "绍兴" },
                            { value: "1.6", text: "湖州" },
                            { value: "1.7", text: "金华" },
                            { value: "1.8", text: "衢州" },
                            { value: "1.9", text: "丽水" },
                            { value: "1.10", text: "舟山" }
                        ]
                    },
                    {
                        value: "2",
                        text: "江苏省",
                        children: [
                            { value: "2.1", text: "南京" },
                            { value: "2.2", text: "无锡" },
                            { value: "2.3", text: "苏州" },
                            { value: "2.4", text: "镇江" },
                            { value: "2.5", text: "扬州" },
                            { value: "2.6", text: "常州" },
                            { value: "2.7", text: "徐州" },
                            { value: "2.8", text: "淮安" },
                            { value: "2.9", text: "宿迁" },
                            { value: "2.10", text: "连云港" }
                        ]
                    }
                ];
                // 添加省市县的选择器
                ui.ctrls.Chooser.extendType("address", function() {
                    var data = [],
                        item;

                    item = {
                        title: "省",
                        list: addressTree
                    };
                    data.push(item);

                    item = {
                        title: "地市",
                        list: []
                    };
                    data.push(item);

                    this.option.spliter = "-";
                    this.listChanged(function(e, eventData) {
                        var listItem = eventData.listItem;
                        var item = listItem.list[eventData.itemIndex];
                        var allList = this.scrollData,
                            nextList,
                            i;

                        for(i = 0; i < allList.length; i++) {
                            if(allList[i] === listItem) {
                                break;
                            }
                        }
                        if(i >= allList.length - 1) {
                            return;
                        }

                        i++;
                        nextList = allList[i];
                        nextList.list = item.children;
                        if(!Array.isArray(nextList.list)) {
                            nextList.list = [];
                        }
                        nextList.target.empty().append(this._createList(nextList));
                    });
                    this.getText = function(item) {
                        return item ? item.text : "";
                    };
                    this.getValue = function(item) {
                        return item;
                    };

                    return data;
                });

                this.customChooser = $("#customChooser").chooser({
                    type: "address"
                });
                this.customChooser.changed(function(e, eventData) {
                    this.element.val(eventData.text);
                });
            }

            
        })();
    </script>
</partial>
