
<partial id="title">日历选择器</partial>
<partial id="header">DATE CHOOSER</partial>

<partial id="content">
    <dl class="ui-fold-view" style="padding:20px;">
        <dt>日历选择器</dt>
        <dd class="section-container">
            <p class="description-paragraph">日历选择器的样式</p>
            <div id="dateInPanel" style="display:block"></div>
        </dd>
        <dt>在表单中使用</dt>
        <dd class="section-container">
            <p class="description-paragraph">
                日期选择器常常被用在表单中，<span class="font-highlight">ui.ctrls.DateChooser</span>支持日期和时期时间两种模式。<br />
                初始化方式如下：<br />
                $("#textBox").dateChooser();<br />
                默认是日期格式，如果需要使用日期时间模式需要添加参数<span class="font-highlight">isDateTime</span>: true。<br />
                $("#textBox").dateChooser({ isDatetime: true });
            </p>
            <p class="description-paragraph">
                值得注意的是，默认的配置下日期选择面板是通过<span class="font-highlight">position:absolute</span>定位的。<br />
                但这种定位存在缺陷，当表单出现滚动条时，日期选择面板无法跟着滚动条移动。为了解决这个问题可以通过设置<span class="font-highlight">layoutPanel</span>属性来解决。<br />
                $("#textBox").dateChooser({ layoutPanel: "出现滚动条元素的ID" });
            </p>
            <div class="box-line clear">
                <div class="box-column">
                    <label>日期选择</label>
                    <br />
                    <input id="dateText" type="text" class="select-text" />
                </div>
                <div class="box-column">
                    <label>日期时间选择</label>
                    <br />
                    <input id="datetimeText" type="text" class="select-text" />
                </div>
            </div>
        </dd>
        <dt>自定义元素使用</dt>
        <dd class="section-container">
            <p class="description-paragraph">
                除了可以在文本框上使用日期选择器之外，也可以在任意元素上使用。
            </p>
            <div style="width:100%;height:40px;line-height:40px;">
                选择日期：<a id="customElement" href="javascript:void(0)"></a>
            </div>
        </dd>
        <dt>限定可选择范围</dt>
        <dd class="section-container">
            <p class="description-paragraph">
                支持可选范围的限定，在参数中设置<span class="font-highlight">startDate</span>和<span class="font-highlight">endDate</span><br />
                $("#dateRangeText").dateChooser({ startDate: "2017-12-21", endDate: "2018-01-16" });
            </p>
            <div class="box-line clear">
                    <div class="box-column" style="width:300px;">
                        <label>日期选择（范围2017-12-21 ~ 2018-01-16）</label>
                        <br />
                        <input id="dateRangeText" type="text" class="select-text" />
                    </div>
                </div>
        </dd>
    </dl>
</partial>

<partial id="style">
    <style type="text/css">
        #body {
            overflow: auto;
        }

        .section-container {
            width: 100%;
            height: auto;
        }

        .description-paragraph {
            /* text-indent: 2em; */
            line-height: 1.5;
            font-size: 1.25em;
        }

        .box-line {
            width: 100%;
            height: 60px;
        }

        .box-column {
            width: 240px;
            height: 100%;
            float: left;
        }

        .box-column > label {
            line-height: 24px;
        }
    </style>
</partial>

<partial id="script">
    <script type="text/javascript">
        (function() {
            window.pageLogic = {
                init: {
                    before: function() {
                        createDateInPanel.call(this);
                        createDateInForm.call(this);
                        createDateInCustom.call(this);
                        createDateRangeInForm.call(this);

                        $(".ui-fold-view").foldView();
                    },
                    layout: function() {
                        ui.master.resize(function(e) {
                            var width = ui.master.contentBodyWidth, 
                                height = ui.master.contentBodyHeight;
                        });
                    },
                    after: function() {

                    },
                    events: function() {

                    },
                    load: function() {
                        
                    }
                }
            };

            function createDateInPanel() {
                this.date = ui.ctrls.DateChooser({
                    calendarPanel: "dateInPanel"
                });
                this.date.setDateValue(
                    ui.str.dateFormat(new Date(), "yyyy-MM-dd"));
            }

            function createDateInForm() {
                this.dateText = $("#dateText").dateChooser({
                    layoutPanel: "body"
                });
                this.datetimeText = $("#datetimeText").dateChooser({
                    layoutPanel: "body",
                    isDateTime: true
                });
            }

            function createDateInCustom() {
                var customElement = $("#customElement");
                customElement.text(ui.str.dateFormat(new Date(), "yyyy-MM-dd"));
                this.dateText = customElement.dateChooser();
            }

            function createDateRangeInForm() {
                this.dateText = $("#dateRangeText").dateChooser({
                    startDate: "2017-12-21",
                    endDate: "2018-01-16"
                });
            }
        })();
    </script>
</partial>
