<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>视图模型</title>

    <link type="text/css" href="../../../dist/theme/light/site-light.css" rel="stylesheet" />
    <link type="text/css" href="../../../dist/theme/light/metro-light.all.css" rel="stylesheet" />
    <link type="text/css" href="../../../dist/theme/viewpage/viewpage.all.css" rel="stylesheet" />
    <link type="text/css" href="../../font-awesome/font-awesome.css" rel="stylesheet" />
    
    <style type="text/css">
        .album-list {
            overflow: auto;
            margin: 20px auto 20px auto;
            border: solid 1px;
        }

        .album-cover {
            position: relative;
        }

        .song-list {
            width: 100%;
            overflow: auto;
        }

        .play-panel {
            width: 100%;
            height: 44px;
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .progress-bar {
            width: 100%;
            height: 4px;
            display: block;
            overflow: hidden;
            background-color: rgba(255, 255, 255, .2);
        }

        .progress {
            width: 0%;
            height: 100%;
            display: block;
        }

        .control-bar {
            width: 100%;
            height: 40px;
            overflow: hidden;
            display: block;
            position: relative;
        }

        .control-bar-left {
            display: block;
            text-align: center;
            line-height: 40px;
            width: 40px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .control-bar-middle {
            display: block;
            flex: 1 1 auto;
            text-align: center;
            line-height: 40px;
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

        .control-bar-right {
            display: block;
            text-align: center;
            line-height: 40px;
            width: 60px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            color: #fff;
        }

        .play-button {
            display: inline-block;
            vertical-align: top;
            line-height: 40px;
            height: 40px;
            font-size: 14px !important;
            color: #fff;
        }

        .play-button:hover {
            text-decoration: none;
        }

        .play-button-inactive {
            opacity: .5;
        }

        .song-item {
            height: 40px;
            width: 100%;
            overflow: hidden;
            line-height: 40px;
            display: flex;
            flex-flow: row nowrap;
        }

        .track-num {
            display: inline-block;
            vertical-align: top;
            line-height: 40px;
            width: 40px;
            height: 40px;
            flex: 0 0 auto;
            text-align: center;
        }

        .track-name {
            display: inline-block;
            vertical-align: top;
            line-height: 40px;
            flex: 1 1 auto;
        }

        .track-time {
            display: inline-block;
            vertical-align: top;
            line-height: 40px;
            height: 40px;
            width: 60px;
            text-align: center;
            flex: 0 0 auto;
        }

        .album-song-name {
            margin-left: 10px;
        }
    </style>

    <link id="highlight" type="text/css" href="../../../dist/theme/color/ui.metro.SeaBlue.css" rel="stylesheet" />
</head>
<body>
    <header id="head" class="head-color clear">
        <h1 class="head-system-title title-color">
            <span class="head-system-title-text">VIEW MODEL</span>
        </h1>
        <ul id="headerCtrls" class="head-ctrl-buttons">
            <li class="head-ctrl-buttons-item">
                <div id="user" class="user-color title-color" title="username">
                    <img src="../../content/images/protrait.png" class="cover" />
                </div>
            </li>
        </ul>
    </header>
    <section id="body">
        
    <div id="list" class="album-list border-highlight">
        <div class="album-cover">
            <img src="" alt='张信哲-挚爱' style="width:100%;" />
            <div class="play-panel">
                <b class="progress-bar">
                    <span class="progress background-highlight"></span>
                </b>
                <span class="control-bar">
                    <span class="control-bar-middle">
                        <a id="backward" class="play-button" href="javascript:">
                            <i class="fa fa-step-backward"></i>
                        </a>
                        <a id="play" class="play-button" href="javascript:" style="margin-left:20px;margin-right:16px;font-size:24px !important;">
                            <i class="fa fa-play"></i>
                        </a>
                        <a id="forward" class="play-button" href="javascript:">
                            <i class="fa fa-step-forward"></i>
                        </a>
                    </span>
                    <span class="control-bar-left">
                        <a id="mode" class="play-button play-button-inactive" href="javascript:">
                            <i class="fa fa-random"></i>
                        </a>
                    </span>
                    <span class="control-bar-right">
                        00:00
                    </span>
                </span>
            </div>
        </div>
        <ul class="song-list theme-panel"></ul>
    </div>

    </section>

    <script type="text/javascript" src="../../../dist/SOON.UI.3.5.0.all.js"></script>
    <script type="text/javascript" src="../../lib/data/highlights.js"></script>
    <script type="text/javascript">
        if(!window.$) {
            window.$ = ui.$;
        }
        ui.page.init({
            master: function() {
                this.loaded(function() {
                    this.body.css({
                        "visibility": "visible",
                        "opacity": 0
                    });
                    ui.animator.fadeIn(this.body, 500);
                });
            },
            userPanel: function() {
                return {
                    changeHighlightUrl: function(highlight) {
                        $("#highlight").prop("href", ui.str.format("../../../dist/theme/color/ui.metro.{0}.css", highlight.Id));
                        ui.theme.setHighlight(highlight);
                    }
                };
            }
        });
    </script>
    
    <script type="text/javascript">
        (function(ui, $) {
            // ViewModel 模型
            var arrayObserverPrototype = [],
                overrideMethods = ["push", "pop", "shift", "unshift", "splice", "sort", "reverse"],
                hasProto = '__proto__' in {},
                updatePrototype,
                binderQueue,
                binderId = 0;

            // 劫持修改数组的API方法
            overrideMethods.forEach(function(methodName) {
                var originalMethod = arrayObserverPrototype[methodName];

                arrayObserverPrototype[methodName] = function() {
                    var result,
                        insertedItems,
                        args = arrayObserverPrototype.slice.call(arguments, 0),
                        notice;

                    result = originalMethod.apply(this, args);

                    switch(methodName) {
                        case "push":
                        case "unshift":
                            insertedItems = args;
                            break;
                        case "splice":
                            insertedItems = args.slice(2);
                            break;
                    }

                    notice = this.__notice__;
                    if(insertedItems) {
                        notice.arrayNotify(insertedItems);
                    }
                    notice.dependency.notify();
                    return result;
                };
            });

            if(hasProto) {
                updatePrototype = function(target, prototype, keys) {
                    target.__proto__ = prototype;
                };
            } else {
                updatePrototype = function(target, prototype, keys) {
                    var i, len, key;
                    for(i = 0, len = keys.length; i < len; i++) {
                        key = keys[i];
                        target[key] = prototype[key];
                    }
                };
            }

            // 数据绑定执行队列
            binderQueue = {
                queue: [],
                queueElementMap: {},
                // 是否正在执行队列中
                isRunning: false,
                // 是否已经注册了nextTick Task
                isWaiting: false,
                // 当前执行的队列索引
                runIndex: 0,

                enqueue: function(binder) {
                    var id = binder.id,
                        index;
                    if(this.queueElementMap[id]) {
                        return;
                    }

                    this.queueElementMap[id] = true;
                    if(this.isRunning) {
                        // 从后往前插入队列
                        index = this.queue.length - 1;
                        while(index > this.runIndex && this.queue[index].id > binder.id) {
                            index--;
                        }
                        this.queue.splice(index + 1, 0, binder);
                    } else {
                        this.queue.push(binder);
                    }

                    if(!this.isWaiting) {
                        this.isWaiting = true;
                        ui.setTask((function () {
                            this.run();
                        }).bind(this));
                    }
                },
                run: function() {
                    var i,
                        binder;
                    this.isRunning = true;

                    // 排序，让视图更新按照声明的顺序执行
                    this.queue.sort(function(a, b) {
                        return a.id - b.id;
                    });

                    // 这里的queue.length可能发生变化，不能缓存
                    for(i = 0; i < this.queue.length; i++) {
                        this.runIndex = i;
                        binder = this.queue[i];
                        this.queueElementMap[binder.id] = null;
                        binder.execute();
                    }

                    // 重置队列
                    this.reset();
                },
                reset: function() {
                    this.runIndex = 0;
                    this.queue.length = 0;
                    this.queueElementMap = {};
                    this.isRunning = this.isWaiting = false;
                }
            };

            function noop() {}

            function defineNotifyProperty(obj, propertyName, val, shallow, path) {
                var descriptor,
                    getter,
                    setter,
                    notice,
                    childNotice;

                descriptor = Object.getOwnPropertyDescriptor(obj, propertyName);
                if (descriptor && descriptor.configurable === false) {
                    return;
                }

                getter = descriptor.get;
                setter = descriptor.set;

                // 如果深度引用，则将子属性也转换为通知对象
                if(!shallow  && (ui.core.isObject(val) || Array.isArray(val))) {
                    childNotice = new NotifyObject(val);
                }

                notice = obj.__notice__;
                Object.defineProperty(obj, propertyName, {
                    enumerable: true,
                    configurable: true,
                    get: function () {
                        return getter ? getter.call(obj) : val;
                    },
                    set: function(newVal) {
                        var oldVal = getter ? getter.call(obj) : val,
                            newChildNotice;
                        if(oldVal === newVal || (newVal !== newVal && val !== val)) {
                            return;
                        }

                        if(setter) {
                            setter.call(obj, newVal);
                        } else {
                            val = newVal;
                        }

                        if(!shallow  && (ui.core.isObject(newVal) || Array.isArray(newVal))) {
                            newChildNotice = new NotifyObject(newVal);
                            newChildNotice.dependency.depMap = childNotice.dependency.depMap;
                            // 更新通知对象
                            childNotice = newChildNotice;
                        }
                        notice.dependency.notify(propertyName);
                    }
                });
            }

            function createNotifyObject(obj) {
                var isObject,
                    isArray,
                    notice;

                isObject = ui.core.isObject(obj);
                isArray = Array.isArray(obj);

                if(!isObject && !isArray) {
                    return obj;
                }
                if(isObject && ui.core.isEmptyObject(obj)) {
                    return obj;
                }

                if(obj.hasOwnProperty("__notice__") && obj.__notice__ instanceof NotifyObject) {
                    notice = obj.__notice__;
                    // TODO notice.count++;
                } else if((isArray || isObject) && Object.isExtensible(obj)) {
                    notice = new NotifyObject(obj);
                }
                // 添加一个手动刷新方法
                obj.refresh = refresh;

                return obj;
            }

            function refresh() {
                notifyAll(this);
            }

            function notifyAll(viewModel) {
                var keys = Object.keys(viewModel),
                    i, len,
                    propertyName,
                    value,
                    notice,
                    notifyProperties = [];

                for(i = 0, len = keys.length; i < len; i++) {
                    propertyName = keys[i];
                    value = viewModel[propertyName];
                    if((ui.core.isObject(value) || Array.isArray(value)) && 
                            value.__notice__ instanceof NotifyObject) {
                        notifyAll(value);
                    } else {
                        notifyProperties.push(propertyName);
                    }
                }

                notice = viewModel.__notice__;
                notice.dependency.notify.apply(notice.dependency, notifyProperties);
            }

            function NotifyObject(value) {
                this.value = value;
                this.dependency = new Dependency();
                Object.defineProperty(value, "__notice__", {
                    value: this,
                    enumerable: false,
                    writable: true,
                    configurable: true
                });
                if(Array.isArray(value)) {
                    updatePrototype(value, arrayObserverPrototype, overrideMethods);
                    this.arrayNotify(value);
                } else {
                    this.objectNotify(value);
                }
            }
            NotifyObject.prototype = {
                constructor: NotifyObject,
                arrayNotify: function(array) {
                    var i, len;
                    for(i = 0, len = array.length; i < len; i++) {
                        createNotifyObject(array[i]);
                    }
                },
                objectNotify: function(obj) {
                    var keys = Object.keys(obj),
                        i, len;

                    for(i = 0, len = keys.length; i < len; i++) {
                        defineNotifyProperty(obj, keys[i], obj[keys[i]]);
                    }
                }
            };

            // 依赖属性
            function Dependency() {
                this.depMap = {};
            }
            Dependency.prototype = {
                constructor: Dependency,
                // 添加依赖处理
                add: function(binder) {
                    var propertyName;
                    if(binder instanceof Binder) {
                        propertyName = binder.propertyName;
                        if(!this.depMap.hasOwnProperty(binder.propertyName)) {
                            this.depMap[propertyName] = [];
                        }
                        this.depMap[propertyName].push(binder);
                    }
                },
                // 移除依赖处理
                remove: function(binder) {
                    var propertyName,
                        binderList,
                        i, len;
                    if(binder instanceof Binder) {
                        propertyName = binder.propertyName;
                        binderList = this.depMap[propertyName];

                        if(Array.isArray(binderList)) {
                            for(i = binderList.length - 1; i >= 0; i--) {
                                if(binderList[i] === binder) {
                                    binderList.splice(i, 1);
                                    break;
                                }
                            }
                        }
                    }
                },
                depend: function() {
                },
                // 变化通知
                notify: function() {
                    var keys,
                        propertyName,
                        delegate,
                        errors,
                        i, len;
                    
                    if(arguments.length === 0) {
                        keys = Object.keys(this.depMap);
                    } else {
                        keys = [];
                        for(i = 0, len = arguments.length; i < len; i++) {
                            propertyName = arguments[i];
                            if(ui.core.isString(propertyName) && 
                                propertyName.length > 0 && 
                                this.depMap.hasOwnProperty(propertyName)) {
                                    
                                keys.push(propertyName);
                            }
                        }
                    }

                    errors = [];
                    for(i = 0, len = keys.length; i < len; i++) {
                        delegate = this.depMap[keys[i]];
                        delegate.forEach(function(binder) {
                            try {
                                binder.update();
                            } catch(e) {
                                errors.push(e);
                            }
                        });
                    }
                    if(errors.length > 0) {
                        throw errors.toString();
                    }
                }
            };

            function Binder(option) {
                var propertyName = null; 

                this.id = ++binderId;
                this.viewModel = null;
                this.isActive = true;

                if(option) {
                    this.sync = !!option.sync;
                    this.lazy = !!option.lazy;
                } else {
                    this.sync = this.lazy = false;
                }
                this.value = this.lazy ? null : this.get();

                Object.defineProperty(this, "propertyName", {
                    configurable: false,
                    enumerable: true,
                    get: function() {
                        if(!propertyName) {
                            return "_";
                        }
                        return propertyName;
                    },
                    set: function(val) {
                        propertyName = val;
                    }
                });
            }
            Binder.prototype = {
                constructor: Binder,
                update: function() {
                    if(!this.isActive) {
                        return;
                    }

                    if(this.sync) {
                        this.execute();
                    } else {
                        binderQueue.enqueue(this);
                    }
                },
                execute: function() {
                    var oldValue,
                        value;

                    oldValue = this.value;
                    value = this.get();

                    if(value !== oldValue) {
                        this.value = value;
                        try {
                            this.action(value, oldValue);
                        } catch(e) {
                            ui.handleError(e);
                        }
                    }
                },
                get: function() {
                    var value = null;

                    if(this.viewModel && this.viewModel.hasOwnProperty(this.propertyName)) {
                        value = this.viewModel[this.propertyName];
                    }

                    return value;
                }
            };

            function createBinder(viewModel, propertyName, bindData, handler, option) {
                var binder;
                if(!viewModel || !viewModel.__notice__) {
                    throw new TypeError("the arguments 'viewModel' is invalid.");
                }
                if(!viewModel.hasOwnProperty(propertyName)) {
                    throw new TypeError("the property '" + propertyName + "' not belong to the viewModel.");
                }
                if(ui.core.isFunction(bindData)) {
                    handler = bindData;
                    bindData = null;
                }
                if(!ui.core.isFunction(handler)) {
                    return null;
                }

                binder = new Binder(option);
                binder.propertyName = propertyName;
                binder.viewModel = viewModel;
                binder.action = function(value, oldValue) {
                    handler.call(viewModel, value, oldValue, bindData);
                };

                return binder;
            }

            ui.ViewModel = createNotifyObject;
            ui.ViewModel.bindOnce = function(viewModel, propertyName, bindData, fn) {
                createBinder(viewModel, propertyName, bindData, fn);
            };
            ui.ViewModel.bindOneWay = function(viewModel, propertyName, bindData, fn, isSync) {
                var binder,
                    option,
                    notice,
                    value;

                option = {
                    sync: !!isSync
                };
                binder = createBinder(viewModel, propertyName, bindData, fn, option);
                if(binder) {
                    notice = viewModel.__notice__;
                    notice.dependency.add(binder);
                    value = viewModel[propertyName];
                    if(Array.isArray(value)) {
                        notice = value.__notice__;
                        if(notice) {
                            notice.dependency.add(binder);
                        }
                    }
                }
            };
            ui.ViewModel.bindTwoWay = function(option) {
                // TODO: 双向绑定实际上只有在做表单的时候才有优势
            };

        })(ui, ui.$);
        
        (function() {
            var vm = ui.ViewModel({
                size: {
                    width: 320,
                    height: 0,
                },
                playInfo: {
                    progress: 0,
                    status: "stop",
                    currentTime: 0,
                    volume: 100,
                    mode: "order"
                },
                albumCover: "",
                items: []
            });

            function Player(vm) {
                if(!(this instanceof Player)) {
                    return new Player(vm);
                }

                this.viewModel = vm;
                this.audio = document.createElement("audio");
                this.audio.autoPlay = false;
                this.audio.width = 0;
                this.audio.height = 0;

                this.playIndex = -1;

                document.body.appendChild(this.audio);

                this.audio.addEventListener("timeupdate", (function(e) {
                    var changeTime;
                    if(this.viewModel.playInfo.status === "stop") {
                        return;
                    }

                    if(this.audio.currentTime === this.audio.duration) {
                        this.next();
                        return;
                    }

                    changeTime = this.audio.currentTime - this.viewModel.playInfo.currentTime;
                    if(changeTime >= 1) {
                        this.viewModel.playInfo.currentTime = this.audio.currentTime;
                        this.viewModel.playInfo.progress = this.audio.currentTime / this.audio.duration;
                    }
                }).bind(this), false);
            }
            Player.prototype.play = function() {
                var playSong;
                if(this.playIndex !== -1) {
                    playSong = this.viewModel.items[this.playIndex];
                    this.audio.src = playSong.url;
                    this.audio.play();

                    this.viewModel.playInfo.status = playSong.status = "play";
                }
            };
            Player.prototype.pause = function() {
                var playSong;
                if(this.playIndex !== -1) {
                    playSong = this.viewModel.items[this.playIndex];
                    this.audio.pause();
                    this.viewModel.playInfo.status = playSong.status = "stop";
                    this.viewModel.playInfo.currentTime = 0;
                    this.viewModel.playInfo.progress = 0;
                }
            };
            Player.prototype.stop = function() {
                var playSong;

                this.pause();
                this.audio.src = "";
                this.playIndex = -1;
            };
            Player.prototype.next = function() {
                var index;
                if(this.viewModel.playInfo.mode === "random") {
                    index = ui.random.getNum(0, this.viewModel.items.length);
                } else {
                    index = this.playIndex + 1;
                }
                this.pause();
                if(index >= 0 && index < this.viewModel.items.length) {
                    this.playIndex = index;
                    this.play();
                }
            };
            Player.prototype.previous = function() {
                var index;
                if(this.viewModel.playInfo.mode === "random") {
                    index = ui.random.getNum(0, this.viewModel.items.length);
                } else {
                    index = this.playIndex - 1;
                }
                this.pause();
                if(index >= 0 && index < this.viewModel.items.length) {
                    this.playIndex = index;
                    this.play();
                }
            };

            function initAlbumList(vm) {
                var album = document.getElementById("list"),
                    cover = album.children[0],
                    songList = album.children[1];

                var that = this;
                
                ui.ViewModel.bindOneWay(vm, "albumCover", function(value) {
                    var img = cover.children[0];
                    img.src = value;
                });
                ui.ViewModel.bindOneWay(vm, "items", function(value) {
                    that.player.stop();
                    songList.innerHTML = "";

                    value.forEach(function(item, i) {
                        var song = new Song(item);
                        var element = song.render();
                        element.setAttribute("data-index", i);
                        songList.appendChild(element);
                    });
                });

                ui.ViewModel.bindOneWay(vm.size, "width", function(value) {
                    if(value > 0) {
                        album.style.width = value + "px";
                        cover.style.width = value + "px";
                        cover.style.height = value + "px";
                    }
                });
                ui.ViewModel.bindOneWay(vm.size, "height", function(value) {
                    if(value > 0) {
                        songList.style.height =  value - vm.size.width + "px";
                    }
                });

                ui.ViewModel.bindOneWay(vm.playInfo, "status", function(value) {
                    var playButton = document.getElementById("play"),
                        icon = playButton.getElementsByClassName("fa")[0];
                    if(value === "stop") {
                        if(icon) {
                            icon.classList.remove("fa-pause");
                            icon.classList.add("fa-play");
                        }
                    } else if(value === "play") {
                        if(icon) {
                            icon.classList.remove("fa-play");
                            icon.classList.add("fa-pause");
                        }
                    }
                });
                ui.ViewModel.bindOneWay(vm.playInfo, "progress", function(value) {
                    var progress = cover.getElementsByClassName("progress")[0];
                    progress.style.width = value * 100 + "%";
                });
                ui.ViewModel.bindOneWay(vm.playInfo, "currentTime", function(value) {
                    var time = cover.getElementsByClassName("control-bar-right")[0];
                    var minutes = Math.floor(value / 60);
                    minutes = minutes < 10 ? "0" + minutes : minutes;
                    var seconds = Math.floor(value % 60);
                    seconds = seconds < 10 ? "0" + seconds : seconds;
                    time.innerText = minutes + ":" + seconds;
                });

                vm.refresh();
            }

            function Song(vm) {
                this.viewModel = vm;
                var that = this;
                ui.ViewModel.bindOneWay(vm, "status", function(value) {
                    if(value === "stop") {
                        that.element.classList.remove("background-highlight");
                    } else if(value === "play") {
                        that.element.classList.add("background-highlight");
                    }
                });
            }
            Song.prototype.render = function() {
                var htmlBuilder = [];
                this.element = document.createElement("li");
                this.element.classList.add("song-item");
                this.element.classList.add("theme-panel-hover");

                htmlBuilder.push("<span class='track-num'>", this.viewModel.trackNum, "</span>");
                htmlBuilder.push("<span class='track-name'>", this.viewModel.name, "</span>");
                htmlBuilder.push("<span class='track-time'>", this.viewModel.time, "</span>");
                this.element.innerHTML = htmlBuilder.join("");

                return this.element;
            };

            ui.page.init({
                created: function() {
                    // 初始化播放器
                    var player = this.player = new Player(vm);

                    ui.on("dblclick", ".song-item", function(e) {
                        var playingSong,
                            index = this.getAttribute("data-index");
                        index = parseInt(index);
                        if(index === player.playIndex) {
                            return;
                        }
                        player.pause();
                        player.playIndex = index;
                        player.play();
                    });
                    ui.on("click", "#mode", function(e) {
                        if(vm.playInfo.mode === "order") {
                            vm.playInfo.mode = "random";
                            this.classList.remove("play-button-inactive");
                        } else {
                            vm.playInfo.mode = "order";
                            this.classList.add("play-button-inactive");
                        }
                    });
                    ui.on("click", "#play", function(e) {
                        if(vm.playInfo.status === "play") {
                            player.pause();
                        } else {
                            if(player.playIndex === -1) {
                                player.playIndex = 0;
                            }
                            player.play();
                        }
                    });
                    ui.on("click", "#forward", function(e) {
                        player.next();
                    });
                    ui.on("click", "#backward", function(e) {
                        player.previous();
                    });

                    initAlbumList.call(this, vm);
                },
                layout: function() {
                    vm.size.height = this.contentBodyHeight - 41;
                },
                load: function() {
                    // 设置歌曲信息
                    vm.albumCover = "https://y.gtimg.cn/music/photo_new/T002R300x300M000000oI0IK2rvClS.jpg?max_age=2592000";
                    vm.items = [
                        {
                            trackNum: 1,
                            name: "用情",
                            artist: "张信哲",
                            time: "05:08",
                            year: 1997,
                            status: "stop",
                            url: "https://link.hhtjim.com/163/186686.mp3"
                        },
                        {
                            trackNum: 2,
                            name: "背叛",
                            artist: "张信哲",
                            time: "03:52",
                            year: 1997,
                            status: "stop",
                            url: "https://link.hhtjim.com/163/186690.mp3"
                        },
                        {
                            trackNum: 3,
                            name: "多想",
                            artist: "张信哲",
                            time: "04:57",
                            year: 1997,
                            status: "stop",
                            url: "https://link.hhtjim.com/163/186694.mp3"
                        },
                        {
                            trackNum: 4,
                            name: "Good Love",
                            artist: "张信哲",
                            time: "04:45",
                            year: 1997,
                            status: "stop",
                            url: "https://link.hhtjim.com/163/186697.mp3"
                        },
                        {
                            trackNum: 5,
                            name: "放手",
                            artist: "张信哲",
                            time: "03:51",
                            year: 1997,
                            status: "stop",
                            url: "https://link.hhtjim.com/163/186700.mp3"
                        },
                        {
                            trackNum: 6,
                            name: "受罪",
                            artist: "张信哲",
                            time: "05:08",
                            year: 1997,
                            status: "stop",
                            url: "https://link.hhtjim.com/163/186702.mp3"
                        },
                        {
                            trackNum: 7,
                            name: "改变",
                            artist: "张信哲",
                            time: "04:36",
                            year: 1997,
                            status: "stop",
                            url: "https://link.hhtjim.com/163/186705.mp3"
                        },
                        {
                            trackNum: 8,
                            name: "等你",
                            artist: "张信哲",
                            time: "04:36",
                            year: 1997,
                            status: "stop",
                            url: "https://link.hhtjim.com/163/186708.mp3"
                        },
                        {
                            trackNum: 9,
                            name: "快乐",
                            artist: "张信哲",
                            time: "03:51",
                            year: 1997,
                            status: "stop",
                            url: "https://link.hhtjim.com/163/186712.mp3"
                        },
                        {
                            trackNum: 10,
                            name: "游戏",
                            artist: "张信哲",
                            time: "04:26",
                            year: 1997,
                            status: "stop",
                            url: "https://link.hhtjim.com/163/186716.mp3"
                        }
                    ];
                }
            });
        })();
    </script>

</body>
</html>
