
<partial id="title">按钮</partial>
<partial id="header">BUTTONS</partial>

<partial id="content">
    <div class="content-panel">
        <dl class="ui-fold-view" style="padding:20px;">
            <dt>Button</dt>
            <dd class="section-container">
                <p class="description-paragraph">
                    按钮
                </p>
            </dd>

            <dt>ui.ctrls.SwitchButton</dt>
            <dd class="section-container">
                <p class="description-paragraph">
                    开关按钮(<span class="font-highlight">ui.ctrls.SwitchButton</span>)如今已经大范围的替代了checkbox，非常直观的表达了boolean状态。<br />
                    <span class="font-highlight">SwitchButton</span>会将checkbox包裹起来，并且根据checkbox的状态呈现。如果checkbox的checked属性为true，则会展示为开启状态。<br />
                    <span class="font-highlight">注意：由于没有办法捕获form reset事件，所以使用reset时会出现状态不匹配的问题。</span>
                </p>
                <div class="box-line clear">
                    <div class="box-column">
                        <label class="label-text">默认样式</label>
                        <br />
                        <input id="normal" type="checkbox" checked="checked" />
                        <label for="normal" class="ui-switch-text">开</label>
                    </div>
                    <div class="box-column">
                        <label class="label-text">棒棒糖样式</label>
                        <br />
                        <input id="lollipop" type="checkbox" />
                        <label for="lollipop" class="ui-switch-text">关</label>
                    </div>
                    <div class="box-column">
                        <label class="label-text">棉花糖样式</label>
                        <br />
                        <input id="marshmallow" type="checkbox" />
                        <label for="marshmallow" class="ui-switch-text">关</label>
                    </div>
                </div>
            </dd>

            <dt>ui.ctrls.ConfirmButton</dt>
            <dd class="section-container">
                <p class="description-paragraph">
                    确认按钮(<span class="font-highlight">ui.ctrls.ConfirmButton</span>)，一般用在删除操作。常规的删除确认交互都是采用window.comfirm实现的，但是确认框会阻塞JavaScript线程执行，用户体验不好。而且反复的提示也大大降低了用户的操作效率。<br />
                    确认按钮被设计成双重点击的交互方式，用户点击一次的时候，按钮会转变形态，询问用户是否确定，用户再次点击才会真正执行操作。
                </p>
                <div class="box-line clear">
                    <div class="box-column">
                        <label class="label-text">默认按钮样式</label>
                        <br />
                        <button id="deleteButton" class="button">删除</button>
                    </div>
                    <div class="box-column">
                        <label class="label-text">ToolButton Style</label>
                        <br />
                        <button id="deleteToolButton" class="tool-button" style="color:#990000;border-color:#990000;">删除</button>
                    </div>
                </div>
                <p class="description-paragraph">
                    在“确定”之前，可以做相关校验，如果校验没有通过则<span class="font-highlight">return false;</span>，这样按钮不会进入确认状态。        
                </p>
                <div class="box-line clear">
                    <div class="box-column">
                        <label class="label-text">校验模式</label>
                        <br />
                        <button id="deleteCheckButton" class="button background-highlight">删除</button>
                    </div>
                </div>
                <p class="description-paragraph">
                    按钮默认表达的是删除的含义，所以默认颜色是红色的，色号为<span style="color:#990000">#990000</span>。<br />
                    显示在其他场景下是不合适的，所以可以支持通过参数定制颜色，<span class="font-highlight">color</span>和<span class="font-highlight">backgroundColor</span> 
                </p>
                <div class="box-line clear">
                    <div class="box-column">
                        <label class="label-text">确认完成场景</label>
                        <br />
                        <button id="completedButton" class="button">完成</button>
                    </div>
                    <div class="box-column">
                        <label class="label-text">支付场景</label>
                        <br />
                        <button id="payButton" class="button background-highlight">支付</button>
                    </div>
                </div>
            </dd>

            <dt>ui.ctrls.ExtendButton</dt>
            <dd class="section-container">
                <p class="description-paragraph">
                    扩展按钮(<span class="font-highlight">ui.ctrls.ExtendButton</span>)为地图点位交互专门设计的，相当于一个上下文菜单。
                </p>
                <div class="box-line clear" style="height:240px;">
                    <div class="box-column" style="position:relative;width:200px;">
                        <label class="label-text">覆盖模式</label>
                        <div class="extend-container">
                            <div id="extendPanel" class="point-marker" class="font-highlight">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <div class="box-column" style="position:relative;width:200px;">
                        <label class="label-text">围绕模式</label>
                        <div class="extend-container">
                            <div id="extendRoundPanel" class="point-marker" class="font-highlight">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </dd>

            <dt>ui.ctrls.FilterButton</dt>
            <dd class="section-container">
                <p class="description-paragraph">
                    内容过滤按钮(<span class="font-highlight">ui.ctrls.FilterButton</span>)，用于表达一组功能相似的按钮，这些按钮的交互针对的是同一个数据集。常常用来作为数据过滤条件的快捷方式。
                </p>
                <div class="box-line" style="height:40px;">
                    <div id="filter" style="margin-top:16px;"></div>
                </div>
            </dd>
        </dl>
    </div>
</partial>

<partial id="style">
    <style type="text/css">
        .content-panel {
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        .section-container {
            width: 100%;
            height: auto;
        }

        .description-paragraph {
            line-height: 1.5;
            font-size: 1.25em;
            margin: 0;
            padding: 0;
            margin-top: 1em;
        }

        .box-line {
            width: 100%;
            height: 60px;
            overflow: hidden;
        }

        .box-column {
            width: 120px;
            height: 100%;
            float: left;
        }

        .box-column > .label-text {
            line-height: 30px;
        }
        
        .box-column > .tool-button {
            width:80px;
        }

        .box-column > .tool-button:active {
            border-color: #434343 !important;
            background-color: #434343 !important;
        }

        .extend-container {
            width: 200px;
            height: 200px;
            position: absolute;
            top: 40px;
            left: 0;
        }

        .point-marker {
            position: absolute;
            left: 84px;
            top: 84px;
            width: 32px;
            height: 32px;
            font-size: 16px;
            text-align: center;
            line-height: 30px;
            cursor: pointer;
        }
    </style>
</partial>

<partial id="script">
    <script type="text/javascript">
        (function() {
            window.pageLogic = {
                init: {
                    create: function() {
                        createSwitchButton.call(this);
                        createComfirmButton.call(this);
                        createExtendButton.call(this);
                        createFilterButton.call(this);

                        $(".ui-fold-view").foldView();
                    },
                    layout: function() {
                        ui.master.resize(function(e) {
                            var width = ui.master.contentBodyWidth, 
                                height = ui.master.contentBodyHeight;
                        });
                    },
                    event: function() {

                    },
                    load: function() {
                        
                    }
                }
            };

            function createSwitchButton() {
                var normal, lollipop, marshmallow,
                    changeFn = function() {
                        if(this.checked) {
                            this.switchBox.next().text("开");
                        } else {
                            this.switchBox.next().text("关");
                        }
                    };
                normal = $("#normal").switchButton();
                normal.changed(changeFn);

                lollipop = $("#lollipop").switchButton({
                    style: "lollipop"
                });
                lollipop.changed(changeFn);

                marshmallow = $("#marshmallow").switchButton({
                    style: "marshmallow"
                });
                marshmallow.changed(changeFn);
            }

            function createComfirmButton() {
                $("#deleteButton").confirmClick(
                    function() {
                        ui.messageShow("删除成功");
                    }
                );
                $("#deleteToolButton").confirmClick({
                    backgroundColor: "#990000",
                    handler: function() {
                        ui.messageShow("删除成功");
                    }
                });
                $("#deleteCheckButton").confirmClick(
                    function() {
                        ui.warnShow("您还没有选择要删除的记录");
                        return false;
                    },
                    function() {
                        ui.messageShow("删除成功");
                    }
                );
                $("#completedButton").confirmClick({
                    backgroundColor: "#28B467",
                    handler: function() {
                        ui.successShow("完成");
                    }
                });
                $("#payButton").confirmClick({
                    backgroundColor: "#FC8D0F",
                    handler: function() {
                        ui.successShow("支付成功");
                    }
                });
            }

            function createExtendButton() {
                var buttons = [
                    {
                        icon: "<i class='fa fa-search'></i>",
                        title: "搜索"
                    },
                    {
                        icon: "<i class='fa fa-search'></i>",
                        title: "搜索"
                    },
                    {
                        icon: "<i class='fa fa-search'></i>",
                        title: "搜索"
                    },
                    {
                        icon: "<i class='fa fa-search'></i>",
                        title: "搜索"
                    },
                    {
                        icon: "<i class='fa fa-search'></i>",
                        title: "搜索"
                    },
                    {
                        icon: "<i class='fa fa-search'></i>",
                        title: "搜索"
                    },
                    {
                        icon: "<i class='fa fa-search'></i>",
                        title: "搜索"
                    },
                    {
                        icon: "<i class='fa fa-search'></i>",
                        title: "搜索"
                    }
                ];
                $("#extendPanel").extendButton({
                    buttonSize: 32,
                    centerIcon: "close",
                    buttons: buttons,
                    parent: $("#extendPanel").parent()
                });
                $("#extendRoundPanel").extendButton({
                    buttonSize: 32,
                    centerIcon: "none",
                    buttons: buttons,
                    parent: $("#extendRoundPanel").parent()
                });
            }

            function createFilterButton() {
                this.filterView = $("#filter").filterButton({
                    viewData: [
                        { text: "全部", value: "all", selected: true },
                        { text: "工具", value: "tool" },
                        { text: "网络", value: "network" },
                        { text: "游戏", value: "game" }
                    ]
                });
            }
        })();
    </script>
</partial>
