
<partial id="title">控制器</partial>
<partial id="header">CONTROL TOOLS</partial>

<partial id="content">
    <div class="content-panel">
        <dl class="ui-fold-view" style="padding:20px;">
            <dt>ui.ctrls.Slidebar</dt>
            <dd class="section-container">
                <p class="description-paragraph">
                    滑动条(<span class="font-highlight">ui.ctrls.Slidebar</span>)，默认是横向的。如果要获取slidebar当前的进度值可以使用<span class="font-highlight">percentValue</span>，该值是一个0 ~ 100直接的数据，表示百分比，保留两位小数。<br />
                    如果想设置初始值，那么可以直接对percentValue进行赋值，如:<br />
                    slidebar.percentValue = 15;<br />
                    如果页面中包含<span class="font-highlight">iframe</span>元素，请设置参数<span class="font-highlight">iframeShield: true</span>
                </p>
                <div class="box-line clear" style="height:40px;">
                    <div id="slidebar" style="width:160px;margin-top:8px;margin-left:8px;float:left;"></div>
                    <div id="slidebarValue" style="width:60px;margin-top:8px;text-align:center;float:left;">0%</div>
                </div>
                <p class="description-paragraph">
                    滑动条，默认是横向的。如果想要纵向的可以设置参数<span class="font-highlight">direction: vertical</span>
                </p>
                <div class="box-line" style="height:80px;">
                    <div id="slidebarVertical" style="height:60px;margin-top:8px;"></div>
                </div>
            </dd>

            <dt>ui.ctrls.Progress</dt>
            <dd class="section-container">
                <p class="description-paragraph">
                    进度条(<span class="font-highlight">ui.ctrls.Progress</span>)，默认视图为环形进度条，对应设置参数<span class="font-highlight">type: "circle"</span>。<br />
                    在当今扁平化设计风潮中，环形进度条非常受欢迎，所以SOON.UI中也提供了一个环形进度条的组件。进度条组件提供了边框宽度和颜色的定制。基本参数如下：<br />
                    size: 宽度和高度，单位px<br />
                    percent: 进度值 0 ~ 100<br />
                    trackColor: 进度条轨道颜色<br />
                    trackWidth: 进度条轨道宽度<br />
                    progressColor: 进度条颜色<br />
                    progressWidth: 进度条宽度<br />
                </p>
                <div class="box-line clear" style="height:240px;">
                    <div class="box-column" style="position:relative;width:200px;">
                        <label class="label-text">进行中</label>
                        <div id="circleProgress" class="extend-container"></div>
                    </div>
                    <div class="box-column" style="position:relative;width:200px;">
                        <label class="label-text">完成</label>
                        <div id="circleProgressDone" class="extend-container"></div>
                    </div>
                    <div class="box-column" style="position:relative;width:200px;">
                        <label class="label-text">错误</label>
                        <div id="circleProgressError" class="extend-container"></div>
                    </div>
                </div>
                <p class="description-paragraph">
                    现代化的UI设计会尽量让交互符合用户的直觉，进度条往往会直接和用户操作的元素结合起来展示。
                    <br />下面是一个例子：上传用户头像的时候，进度条显示在用户头像的周围，这样用户可以非常直观的看到当前的进度。当上传结束后图片变得明亮，进度条消失，暗示用户操作完成。
                    <br /><a id="showComplexSample" href="javascript:void(0)">点击查看效果</a>
                </p>
                <div class="box-line clear" style="height:240px;">
                    <div class="box-column" style="position:relative;width:200px;">
                        <div id="complexProgress" class="extend-container" style="border-radius:50%;overflow:hidden;">
                            <img src="../../lib/data/album-cover/Red.jpg" style="width:100%;height:100%;" alt="" />
                            <div id="complexShadow" style="background-color:#000;opacity:0;transition:opacity .3s ease-out 0s;border-radius:50%;overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;"></div>
                        </div>
                    </div>
                </div>
                <p class="description-paragraph">
                    除了时下流行的环形进度条之外，也可以设置为最普通的进度条模式。<br />
                    设置参数<span class="font-highlight">type: "bar"</span>
                </p>
                <div class="box-line clear" style="height:40px;">
                    <div id="progressBar" style="width:200px;height:8px;overflow:hidden;margin-top:16px;"></div>
                </div>
                <p class="description-paragraph">
                    展示为仪表盘视图，设置参数<span class="font-highlight">type: "dashboard"</span><br />
                    如果想定制显示内容可以通过参数<span class="font-highlight">textTemplate: function</span>，返回一段html代码自定义格式。
                </p>
                <div class="box-line clear" style="height:240px;">
                    <div class="box-column" style="position:relative;width:200px;">
                        <div id="dashProgress" class="extend-container"></div>
                    </div>
                </div>
            </dd>

            <dt>ui.ctrls.HoverView</dt>
            <dd class="section-container">
                <p class="description-paragraph">
                    悬停提示(<span class="font-highlight">ui.ctrls.HoverView</span>)是对html element title属性的补充，可以对内容进行格式化和布局，也可以放入一些交互控件。在布局空间局促又需要展示很多信息的时候有大用。<br />
                    <span class="font-highlight">用法：</span><br />
                    第一步：创建<span class="font-highlight">HoverView</span>对象。var hoverView = ui.ctrls.HoverView();<br />
                    第二步: 定义<span class="font-highlight">showing</span>事件，在事件处理函数中使用<span class="font-highlight">this.clear()</span>清空内容，使用<span class="font-highlight">this.append()</span>添加内容。<br />
                    第三步：将元素和<span class="font-highlight">HoverView</span>的实例绑定，<span class="font-highlight">$("#hoverElem").addHoverView(hoverView)</span>
                </p>
                <div class="box-line">
                    <a id="hoverLink" href="javascript:void(0)" style="font-size:1.5em;line-height:40px;">云之国</a>
                </div>
            </dd>
        </dl>
    </div>
</partial>

<partial id="style">
    <style type="text/css">
        .content-panel {
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        .section-container {
            width: 100%;
            height: auto;
        }

        .description-paragraph {
            line-height: 1.5;
            font-size: 1.25em;
            margin: 0;
            padding: 0;
            margin-top: 1em;
        }

        .box-line {
            width: 100%;
            height: 60px;
            overflow: hidden;
        }

        .box-column {
            width: 120px;
            height: 100%;
            float: left;
        }

        .box-column > .label-text {
            line-height: 30px;
        }
        
        .box-column > .tool-button {
            width:80px;
        }

        .box-column > .tool-button:active {
            border-color: #434343 !important;
            background-color: #434343 !important;
        }

        .extend-container {
            width: 200px;
            height: 200px;
            position: absolute;
            top: 40px;
            left: 0;
        }
    </style>
</partial>

<partial id="script">
    <script type="text/javascript">
        (function() {
            ui.page.init({
                created: function() {
                    createSlidebar.call(this);
                    createHoverView.call(this);
                    createProgress.call(this);

                    $(".ui-fold-view").foldView();

                    $("#showComplexSample").click(function(e) {
                        var complexProgress = ui.page.complexProgress,
                            shadow = $("#complexShadow");
                        if(complexProgress.percent > 0) {
                            return;
                        }

                        function changePercent() {
                            complexProgress.percent += 20;
                            
                            if(complexProgress.percent >= 100) {
                                setTimeout(function() {
                                    shadow.css("opacity", 0);
                                    complexProgress.percent = 0;
                                    complexProgress.hide();
                                }, 1000);
                            } else {
                                setTimeout(changePercent, 1000);
                            }
                        }

                        shadow.css("opacity", .6);
                        complexProgress.show();
                        
                        setTimeout(changePercent, 300);
                    });
                }
            });

            function createSlidebar() {
                this.slidebar = $("#slidebar").slidebar();
                this.slidebar.changed(function(e, percent) {
                    $("#slidebarValue").html(percent + "%");
                });
                this.slidebar.percentValue = 15;

                this.verticalBar = $("#slidebarVertical").slidebar({
                    direction: "vertical"
                });
                this.verticalBar.percentValue = 45;
            }

            function createProgress() {
                var trackColor = "#888888",
                    progressColor = ui.theme.currentHighlight.Color;
                this.circleProgress = $("#circleProgress").progress({
                    size: 150,
                    percent: 30,
                    trackColor: trackColor,
                    trackWidth: 4,
                    progressColor: progressColor,
                    progressWidth: 4
                });

                this.circleProgressDone = $("#circleProgressDone").progress({
                    size: 150,
                    percent: 100,
                    trackColor: trackColor,
                    trackWidth: 4,
                    progressColor: "#00B200",
                    progressWidth: 4,
                    textTemplate: function() {
                        return "<i class='fa fa-check' style='font-size:3em;color: " + this.progressColor + "'></i>";
                    }
                });

                this.circleProgressError = $("#circleProgressError").progress({
                    size: 150,
                    percent: 67,
                    trackColor: trackColor,
                    trackWidth: 4,
                    progressColor: "#990000",
                    progressWidth: 4,
                    textTemplate: function() {
                        return "<i class='fa fa-remove' style='font-size:3em;color: " + this.progressColor + "'></i>";
                    }
                });

                this.complexProgress = $("#complexProgress").progress({
                    size: 200,
                    trackColor: trackColor,
                    trackWidth: 2,
                    progressColor: progressColor,
                    progressWidth: 2
                });
                this.complexProgress.hide();

                this.progressBar = $("#progressBar").progress({
                    type: "bar",
                    size: 200,
                    percent: 80,
                    progressWidth: 8
                });

                this.dashProgress = $("#dashProgress").progress({
                    type: "dashboard",
                    size: 200,
                    percent: 76,
                    trackColor: trackColor,
                    trackWidth: 10,
                    progressColor: progressColor,
                    progressWidth: 10,
                    textTemplate: function() {
                        return "<span style='font-size:1.4em'>研发：<span style='color:" + this.trackColor + "'>10000</span></span><br />" + 
                            "<span style='font-size:1.4em'>高级研发：" + 
                            "<span style='color:" + this.progressColor + "'>" + 10000 * (this.percent / 100) + "</span></span>";
                    }
                });
            }

            function createHoverView() {
                this.hoverView = ui.ctrls.HoverView({
                    width: 200,
                    height: 100
                });
                this.hoverView.showing(function() {
                    this.clear().append("<a href='http://www.yzgit.com' style='line-height:24px;margin-left:5px;'>欢迎去云之国主页看看</a>");
                });
                $("#hoverLink").addHoverView(this.hoverView);
            }
        })();
    </script>
</partial>
