
<partial id="title">表单控件</partial>
<partial id="header">FORM CONTROL</partial>

<partial id="content">
    <div class="content-panel">
        <dl class="ui-fold-view" style="padding:20px;">
            <dt>文本框</dt>
            <dd class="section-container">
                <div class="box-line clear">
                    <div class="box-column">
                        <label>普通模式</label>
                        <br />
                        <input type="text" name="textBox" value="文字" />
                    </div>
                    <div class="box-column">
                        <label>只读模式</label>
                        <br />
                        <input type="text" name="textBox" readonly="readonly" value="文字" />
                    </div>
                    <div class="box-column">
                        <label>禁用模式</label>
                        <br />
                        <input type="text" name="textBox" disabled="disabled" value="文字" />
                    </div>
                </div>
            </dd>
            <dt>密码框</dt>
            <dd class="section-container">
                <div class="box-line clear">
                    <div class="box-column">
                        <label>普通模式</label>
                        <br />
                        <input type="password" name="passwordBox" value="123456" />
                    </div>
                    <div class="box-column">
                        <label>只读模式</label>
                        <br />
                        <input type="password" name="passwordBox" readonly="readonly" value="123456" />
                    </div>
                    <div class="box-column">
                        <label>禁用模式</label>
                        <br />
                        <input type="password" name="passwordBox" disabled="disabled" value="123456" />
                    </div>
                </div>
            </dd>
            <dt>选择框</dt>
            <dd class="section-container">
                <div class="box-line clear">
                    <div class="box-column">
                        <label>普通模式</label>
                        <br />
                        <select style="width:140px">
                            <option>北京</option>
                            <option>上海</option>
                            <option>广州</option>
                            <option>深圳</option>
                            <option>南京</option>
                            <option>杭州</option>
                            <option>成都</option>
                        </select>
                    </div>
                    <div class="box-column">
                        <label>禁用模式</label>
                        <br />
                        <select style="width:140px" disabled="disabled">
                            <option>北京</option>
                            <option>上海</option>
                            <option>广州</option>
                            <option>深圳</option>
                            <option>南京</option>
                            <option>杭州</option>
                            <option>成都</option>
                        </select>
                    </div>
                </div>
            </dd>
            <dt>文本域</dt>
            <dd class="section-container">
                <div class="box-line clear" style="height:90px;">
                    <div class="box-column" style="width:260px;">
                        <label>普通模式</label>
                        <br />
                        <textarea name="textBox" style="width:240px;">文本域内容</textarea>
                    </div>
                    <div class="box-column" style="width:260px;">
                        <label>禁用模式</label>
                        <br />
                        <textarea name="textBox" disabled="disabled" style="width:240px;">文本域内容</textarea>
                    </div>
                </div>
            </dd>
            <dt>单选按钮</dt>
            <dd class="section-container">
                <div class="box-line clear">
                    <div class="box-column" style="width:300px;">
                        <label class="wrapper">
                            <input type="radio" name="hobby" value="足球" />
                            <span>足球</span>
                        </label>
                        <label class="wrapper">
                            <input type="radio" name="hobby" value="音乐" />
                            <span>音乐</span>
                        </label>
                        <label class="wrapper">
                            <input type="radio" name="hobby" readonly="readonly" value="只读" />
                            <span>只读</span>
                        </label>
                        <label class="wrapper">
                            <input type="radio" name="hobby" disabled="disabled" value="禁用" />
                            <span>禁用</span>
                        </label>
                    </div>
                </div>
            </dd>
            <dt>复选按钮</dt>
            <dd class="section-container">
                <div class="box-line clear">
                    <div class="box-column" style="width:300px;">
                        <label class="wrapper">
                            <input type="checkbox" value="启用" />
                            <span>启用</span>
                        </label>
                        <label class="wrapper">
                            <input type="checkbox" readonly="readonly" value="只读" />
                            <span>只读</span>
                        </label>
                        <label class="wrapper">
                            <input type="checkbox" disabled="disabled" value="禁用" />
                            <span>禁用</span>
                        </label>
                    </div>
                </div>
            </dd>
            <dt>按钮模式A</dt>
            <dd class="section-container">
                <div class="box-line clear">
                    <div class="box-column" style="width:300px;">
                        <button class="button">普通按钮</button>
                        <button class="button background-highlight">重要按钮</button>
                        <button class="button" disabled="disabled">禁用</button>
                    </div>
                </div>
            </dd>
            <dt>按钮模式B</dt>
            <dd class="section-container">
                <div class="box-line clear">
                    <div class="box-column" style="width:300px;">
                        <button class="tool-button">普通按钮</button>
                        <button class="tool-button button-highlight">重要按钮</button>
                        <button class="tool-button" disabled="disabled">禁用</button>
                    </div>
                </div>
            </dd>
        </dl>
    </div>
</partial>

<partial id="style">
    <style type="text/css">
        .content-panel {
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        .section-container {
            width: 100%;
            height: auto;
        }

        .description-paragraph {
            line-height: 1.5;
            font-size: 1.25em;
            margin: 0;
            padding: 0;
            margin-top: 1em;
        }

        .box-line {
            width: 100%;
            height: 60px;
        }

        .box-column {
            width: 160px;
            height: 100%;
            float: left;
        }

        .box-column > label {
            line-height: 24px;
        }

        .box-column > label.wrapper {
            margin-right: 10px;
        }

        .button,
        .tool-button {
            margin-right:10px;
        }
    </style>
</partial>

<partial id="script">
    <script type="text/javascript">
        (function() {
            ui.page.init({
                created: function() {
                    $(".ui-fold-view").foldView();
                }
            });
        })();
    </script>
</partial>
