<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>树形视图</title>

    <link type="text/css" href="../../../dist/theme/dark/site.dark.css" rel="stylesheet" />
    <link type="text/css" href="../../../dist/theme/dark/metro-dark.all.css" rel="stylesheet" />
    <link type="text/css" href="../../../dist/theme/viewpage/viewpage.all.css" rel="stylesheet" />
    <link type="text/css" href="../../content/font-awesome.min.css" rel="stylesheet" />
    
    <style type="text/css">
        #treeView {
            width: 300px;
            margin: 20px auto;
        }
    </style>

    <link id="highlight" type="text/css" href="../../../dist/theme/color/ui.metro.SeaBlue.css" rel="stylesheet" />
</head>
<body>
    <header id="head" class="head-color clear">
        <h1 class="head-system-title title-color">
            <span class="head-system-title-text">TREE VIEW</span>
        </h1>
        <ul id="headerCtrls" class="head-ctrl-buttons">
            <li class="head-ctrl-buttons-item">
                <div id="user" class="user-color title-color" title="username">
                    <img src="../../content/images/protrait.png" class="cover" />
                </div>
            </li>
        </ul>
    </header>
    <section id="body">
        
    <div class="toolbar">
        <ul class="tools" style="float:right">
            <li class="tool-item action-buttons">
                <a id="setSelection" class="tool-action-button" href="javascript:void(0)" title="选中项目">
                    <i class="fa fa-check-square"></i>
                </a>
                <a id="cancelSelection" class="tool-action-button" href="javascript:void(0)" title="取消特定的项目">
                    <i class="fa fa-minus-square"></i>
                </a>
                <a id="cancelAll" class="tool-action-button" href="javascript:void(0)" title="取消全部项目">
                    <i class="fa fa-square-o"></i>
                </a>
            </li>
        </ul>
    </div>
    <div id="treeView"></div>

    </section>

    <script type="text/javascript" src="../../../jquery.js"></script>
    <script type="text/javascript" src="../../../dist/ui-core.3.0.0.js"></script>
    <script type="text/javascript" src="../../../dist/ui-components.3.0.0.js"></script>
    <script type="text/javascript" src="../../../dist/ui-controls.3.0.0.js"></script>
    <script type="text/javascript" src="../../../dist/ui-viewpages.3.0.0.js"></script>
    <script type="text/javascript" src="../../lib/data/highlights.js"></script>
    <script type="text/javascript">
        ui.theme.currentTheme = "Dark";
        ui.theme.backgroundColor = "#1d1f21";
        ui.master.init(function() {
            ui.master.config("userSettings", {
                changeHighlightUrl: function(highlight) {
                    $("#highlight").prop("href", ui.str.format("../../../dist/theme/color/ui.metro.{0}.css", highlight.Id));
                    ui.theme.setHighlight(highlight);
                }
            });
        });
    </script>
    
    <script type="text/javascript">
        (function() {
            window.pageLogic = {
                init: {
                    create: function() {
                        this.toolbar = ui.master.createToolbar("toolbar");
                        this.treeView = createTreeView.call(this);
                    },
                    layout: function() {
                        ui.master.resize(function(e) {
                            var width = ui.master.contentBodyWidth, 
                                height = ui.master.contentBodyHeight;
                            $("#treeView").css("height", height - 80 + "px");
                        });
                    },
                    event: function() {
                        $("#setSelection").click(function(e) {
                            pageLogic.treeView.setSelection(["1.1", "2.1", "3"]);
                        });
                        $("#cancelSelection").click(function(e) {
                            pageLogic.treeView.cancelSelection(["1.1", "3"]);
                        });
                        $("#cancelAll").click(function(e) {
                            pageLogic.treeView.cancelSelection();
                        });
                    },
                    load: function() {
                    }
                }
            };

            function createTreeView() {
                var treeView = $("#treeView").treeView({
                    valueField: "id",
                    textField: "name",
                    parentField: "parent",
                    defaultExpandLevel: 2,
                    nodeSelectable: true,
                    multiple: true,
                    viewData: [
                        { id: "1", name: "第一层" },
                        { id: "1.1", name: "第一一层", parent: "1" },
                        { id: "1.2", name: "第一二层", parent: "1" },
                        { id: "2", name: "第二层" },
                        { id: "2.1", name: "第二一层", parent: "2" },
                        { id: "2.2", name: "第二二层", parent: "2" },
                        { id: "2.1.1", name: "第二一一层", parent: "2.1" },
                        { id: "2.1.2", name: "第二一二层", parent: "2.1" },
                        { id: "2.2.1", name: "第二二一层", parent: "2.2" },
                        { id: "2.2.2", name: "第二二二层", parent: "2.2" },
                        { id: "3", name: "第三层" }
                    ]
                });
                return treeView;
            }
        })();
    </script>

</body>
</html>
