/*
	Color: #1d1f21
	Name: 暗夜
*/

@background-color: #1d1f21;
@font-color: #aaaaaa;
@border-color: #5d5f60;
@panel-color: #3c3f41;
@tool-color: #aaaaaa;
@readonly-color: #aaaaaa;
@disabled-color: #5d5f60;
@hover-color: #eeeeee;
@active-color: #eeeeee;
@shadow-color: #eeeeee;

@font-size: 0.813em;

html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body {
    font-size: @font-size;
    font-family: 'Microsoft YaHei', "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    color: @font-color;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* 让所有的字符全部自动换行 */
    word-break: break-all;
    word-wrap: break-word;
}

body, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, fieldset, pr, pc {
    margin: 0;
    padding: 0;
}

section, header, footer, address, article, aside, nav, menu {
    display: block;
    margin: 0;
    padding: 0;
}

 /* 清除浮动，在浮动元素的父级容器上使用 */
.clear {
    zoom: 1;
}

    .clear:after {
        content:"";
        display:block;
        height:0;
        line-height:0;
        clear:both;
        visibility:hidden;
    }

/* 默认超链接 */
a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

    a:active {
        background-color: transparent;
    }

/* 主题颜色 */
.theme-background-color {
    background-color: @background-color;
}

.theme-panel-color {
    background-color: @panel-color;
}

.theme-border-color {
    border-color: @border-color;
}

.theme-font-color {
    color: @font-color;
}

/* 头部 */
#head {
    height: 48px;
    width: 100%;
    min-width: 768px;
    position:relative;
    top:0px;
    left:0px;
    z-index:9999;
    overflow: hidden;
}

/* 中间内容 */
#body {
    height: auto;
    width: 100%;
    min-width: 768px;
    position: relative;
    overflow: hidden;
}

/* 底部 */
#foot {
    height: 30px;
    width: 100%;
    min-width: 768px;
    overflow: hidden;
    display: none;
}

/* 表单元素 */
input[type="text"], 
input[type="password"], 
textarea, 
select {
    background-color: transparent;
    background-image: url(images/input-bg.gif);
    border: 1px solid @tool-color;
    color: @tool-color;
    margin: 0;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 22px;
    font-size: 12px;
    font-family: 'Microsoft YaHei', "Segoe UI", Segoe, Tahoma, Arial, Verdana, sans-serif;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

input[type="text"], 
input[type="password"] {
    height: 22px;
}

select {
    height: 24px;
}

    input[type="text"]:focus, 
    input[type="password"]:focus, 
    textarea:focus, 
    select:focus {
        color: @font-color;
        border-color: @font-color;
        text-decoration: none;
        outline: none 0;
    }

    input[type="text"][readonly],
    textarea[readonly] {
        color: @readonly-color;
        border-color: @readonly-color;
        cursor: default;
    }

    input:disabled,
    textarea:disabled,
    select:disabled {
        color: @readonly-color;
        border-color: @readonly-color;
        cursor: not-allowed;
    }

textarea {
    height: 63px;
    resize: none;
    overflow: auto;
}
